svg#floor(viewbox='0 0  729 791' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
    image(x='0' y='0' height='100%' width='100%' style='overflow:visible;' xlink:href='https://saga-city.space/wp-content/uploads/2019/12/5_floor.png')
    a.plan-floor-appartment-(href="flat.html" data-floor="1" data-flats-hover='1' data-number='5' data-square='69.25 м<sub>2</sub>' data-livsquare='36.01 м<sub>2</sub>' data-flats='2' data-sec='1')
        polygon.plan-appartment.fill--room2(points='445,429,718,431.5,722.5,602,444.5,602,443.5,430' )
    a.plan-floor-appartment-( data-floor="2" data-flats-hover='2' data-number='5' data-square='40 м<sub>2</sub>' data-livsquare='23 м<sub>2</sub>' data-flats='1' data-sec='1')
        polygon.plan-appartment.fill--room1(points='283,430,443.5,430,443.5,603,283.5,603.5' )
    a.plan-floor-appartment-(href="flat.html" data-floor="3" data-flats-hover='3' data-number='5' data-square='55 м<sub>2</sub>' data-livsquare='25.8 м<sub>2</sub>' data-flats='4' data-sec='1')
        polygon.plan-appartment.fill--room1(points='283.5,604,51,604.5,50,569,6,569,7.5,526.5,83,527,83,437.5,124,437.5,124,428.5,283,429' )
    a.plan-floor-appartment-(href="flat.html" data-floor="4" data-flats-hover='4' data-number='5' data-square='54.45 м<sub>2</sub>' data-livsquare='32.69 м<sub>2</sub>' data-flats='1' data-sec='1')
        polygon.plan-appartment.fill--room1(points='6.5,379.5,4.5,211,49.5,211.5,50,172,80,172,80,211.5,213,212,212.5,379.5' )
    a.plan-floor-appartment-(href="flat.html" data-floor="5" data-flats-hover='5' data-number='5' data-square='108.04 м<sub>2</sub>' data-livsquare='60.62 м<sub>2</sub>' data-flats='2' data-sec='1')
        polygon.plan-appartment.fill--room2(points='216,211.5,217,172.5,247,173.5,247.5,212.5,383.5,212,384,172.5,414.5,172,414,212.5,424,212.5,423,165,547,165,544.5,379.5,213,379.5,213,212.5' )
    a.plan-floor-appartment-(href="flat.html" data-floor="6" data-flats-hover='6' data-number='5' data-square='87.22 м<sub>2</sub>' data-livsquare='33.7 м<sub>2</sub>' data-flats='1' data-sec='1')
        polygon.plan-appartment.fill--room1(points='423.5,166,422.5,40.5,467,39,467,2.5,497.5,2.5,498,40,550.5,40,550.5,2,581,1.5,581.5,39,708.5,40.5,712,268.5,546.5,271,546.5,165.5' )
