.footer 
    .footer-menu
        .footer-menu__group.first
            a(href="about.html").footer-menu__group-title Про проект
            a(href="gallery.html").footer-menu__group-title Галерея
            a(href="news.html").footer-menu__group-title Новини
            a(href="contacts.html").footer-menu__group-title Контакти
        .footer-menu__group
            .footer-menu__group-title Про проект
            ul.footer-menu__group-links
                li
                    a(href="about.html") Про проект
                li  
                    a(href="location.html") Розташування 
                li  
                    a(href="values.html") Цінності
                li  
                    a(href="advantages.html") Переваги
        .footer-menu__group
            .footer-menu__group-title Інфраструктура
            ul.footer-menu__group-links 
                li
                    a(href="seafront.html") Набережна 
                li
                    a(href="boulevard.html") Бульвар 
                li
                    a(href="for-life.html") Для життя 
                li
                    a(href="for-work.html") Для роботи 
                li
                    a(href="for-sport.html") Для спорту 
                li
                    a(href="for-leisure.html") Для відпочинку 
                li
                    a(href="for-kids.html") Для дітей
        .footer-menu__group
            .footer-menu__group-title Квартири
            ul.footer-menu__group-links
                
                li
                    a(href="choose-build.html") Вибрати будинок 
                li
                    a(href="filter.html") Вибрати квартиру 
                li
                    a(href="technical-characteristics.html") Технічні характеристики квартир 
                li
                    a(href="installment-and-credit.html") Розтермінування та кредит
        .footer-menu__group
            .footer-menu__group-title Комерційна нерухомість
            ul.footer-menu__group-links
                li 
                    a(href="buy-and-lease.html") Купівля та оренда 
                li 
                    a(href="offices.html") Офіси 
                li 
                    a(href="trading.html") Торгівля 
                li 
                    a(href="restaraunts.html") Ресторани 
                li 
                    a(href="medicine.html") Медицина
        .footer-menu__group
            .footer-menu__group-title Будівництво
            ul.footer-menu__group-links
                li
                    a(href="developers.html") Девелопери проєкту 
                li
                    a(href="build-progress.html") Хід будівництва 
                li
                    a(href="documentation.html") Документація 
                li
                    a(href="web-camera.html") Веб камера
        .footer-menu__group
            .footer-menu__group-title Відділ продажу
            ul.footer-menu__group-links.non-uppercase
                li
                    a(href="https://goo.gl/maps/f9BVSBgEe3JRaett8" target="_blank") м. Київ, ул. Набережно-Лугова 
                li
                    a(href="tel:(044) 111-33-33 " target="_blank") (044) 111-33-33 
                li
                    a(href="mailto:np@gmail.com" target="_blank") np@gmail.com
            a.form-call-js.button-std.green.green-light-icon.text-white
                span Зворотній зв'язок
                .button-std__icon 
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.23042 5.76858C5.2201 6.75744 6.36672 7.7038 6.81998 7.25062C7.46831 6.60242 7.86844 6.03736 9.29889 7.18686C10.7287 8.33574 9.63025 9.10208 9.00192 9.72965C8.27669 10.4547 5.57334 9.76841 2.90125 7.09748C0.229777 4.42592 -0.454815 1.72311 0.27104 0.99803C0.899364 0.369209 1.6621 -0.728417 2.81122 0.701122C3.96096 2.13066 3.3964 2.53071 2.74682 3.17953C2.29543 3.63271 3.24135 4.77909 4.23042 5.76858Z" fill="white"/>
                    </svg>
        .footer-menu__group
            .footer-menu__group-title Соцмережі
            a(target='_blank' href="https://instagram.com").social-link
                +svg('insta-icon')
            a(target='_blank' href="https://instagram.com").social-link
                +svg('youtube')
            a(target='_blank' href="https://instagram.com").social-link
                +svg('facebook-icon')
    .footer-bottom
        .developers-block 
            a(target='_blank' href="https://perfect-group.ua/")
                +img('developers/perfect-group-white.svg').perfect-logo
            a(target='_blank' href="https://saga-development.com.ua/")
                +img('developers/saga-white.svg').saga-logo
        .footer-bottom__text-block
            span.footer-bottom__text-block-bigger Новий Поділ, 2020
            span All rights reserved
        a(target='_blank' href="https://smarto.agency").web-developer-block
            span Розробка сайту
            img(src="./assets/images/smarto.svg")
    .unvisible-blocks
        include popup-form.pug
    <svg class="custom-cursor" width="70" height="70" viewBox="0 0 220 220">
        <defs>
            <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox">
                <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="1" result="warp"></feTurbulence>
                <feOffset dx="-30" result="warpOffset"></feOffset>
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warpOffset"></feDisplacementMap>
            </filter>
        </defs>
        <circle class="cursor__inner" style="filter:url(#filter-1)" cx="110" cy="110" r="60"></circle>
    </svg>


