header.header
	.left-group.header-group
		.lang-block
			ul.langs
				li
					a(href="#") UA
				li
					a(href="#") RU
				li
					a(href="#") EN
			<svg class="birdy" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
			</svg>
		a(href="choose-flat.html").button-std.violet1.violet2-icon.text-white
			span Обрати квартиру
			.button-std__icon 
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.16763 8.99456C5.84872 10.4187 5.38876 11.8693 4.33949 12.6068C3.82134 12.9709 3.19359 13.1454 2.56187 13.1009C1.93015 13.0564 1.33303 12.7957 0.870995 12.3626C0.40896 11.9295 0.110217 11.3505 0.0250407 10.723C-0.0601354 10.0955 0.0734553 9.45774 0.403331 8.91716C0.582514 8.61047 0.821763 8.3431 1.10674 8.13107C1.39172 7.91905 1.71657 7.76673 2.06182 7.68324C2.7458 7.51029 3.4695 7.5949 4.09514 7.92096C6.75978 5.26737 9.41337 2.62705 12.0559 0L13.1549 1.00947L12.3401 1.84756L14.0196 3.53812L13.0388 4.53321L11.9774 3.48947C11.6457 3.788 11.3516 4.10643 11.0144 4.43481L12.0393 5.41L11.0188 6.41284L9.46202 4.803L5.16763 8.99456ZM3.96909 10.3457C3.96025 9.68228 3.4052 9.11618 2.75286 9.1394C2.04413 9.16483 1.57202 9.6469 1.53663 10.3556C1.50789 10.9914 2.11047 11.5719 2.75286 11.5719C3.07287 11.5637 3.37753 11.433 3.60388 11.2066C3.83023 10.9803 3.96097 10.6756 3.96909 10.3556" fill="white"/>
				</svg>
	a(href="index.html").logo-block 
		span Новий
		+img('logo.svg').header-logo
		span Поділ
	.right-group.header-group
		a(href="tel:0444523311").header-telephone (044) 452 33 11
		a().button-std.text-white.green.green-light-icon.form-call-js
			span Зворотній зв'язок
			.button-std__icon 
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.23042 5.76858C5.2201 6.75744 6.36672 7.7038 6.81998 7.25062C7.46831 6.60242 7.86844 6.03736 9.29889 7.18686C10.7287 8.33574 9.63025 9.10208 9.00192 9.72965C8.27669 10.4547 5.57334 9.76841 2.90125 7.09748C0.229777 4.42592 -0.454815 1.72311 0.27104 0.99803C0.899364 0.369209 1.6621 -0.728417 2.81122 0.701122C3.96096 2.13066 3.3964 2.53071 2.74682 3.17953C2.29543 3.63271 3.24135 4.77909 4.23042 5.76858Z" fill="white"/>
				</svg>
		a().button-std.yellow.yellow-light-icon.menu-button.js-menu-call
			span Меню
			.button-std__icon 
				<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 11C3 11 3 9 6 9" stroke="#3C3C3B"/>
				<path d="M12 11C15 11 15 9 18 9" stroke="#3C3C3B"/>
				<path d="M6 9C9 9 9 11 12 11" stroke="#3C3C3B"/>
				<path d="M0 7C3 7 3 5 6 5" stroke="#3C3C3B"/>
				<path d="M12 7C15 7 15 5 18 5" stroke="#3C3C3B"/>
				<path d="M6 5C9 5 9 7 12 7" stroke="#3C3C3B"/>
				<path d="M0 3C3 3 3 1 6 1" stroke="#3C3C3B"/>
				<path d="M12 3C15 3 15 1 18 1" stroke="#3C3C3B"/>
				<path d="M6 1C9 1 9 3 12 3" stroke="#3C3C3B"/>
				</svg>



