nav.menu.closed
    <svg class="menu__pattern-wheel"  width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.7232 79.5564C29.0814 79.5564 19.1001 75.4464 11.6142 67.8871C-3.8714 52.4015 -3.8714 27.1549 11.6142 11.6693C19.1001 4.18333 29.0814 0 39.7232 0C50.3649 0 60.3461 4.10994 67.8321 11.6693C83.3177 27.1549 83.3177 52.4015 67.8321 67.8871C60.2728 75.4464 50.2915 79.5564 39.7232 79.5564ZM39.7232 2.20174C29.6685 2.20174 20.2744 6.09149 13.1554 13.2105C-1.52287 27.8888 -1.52287 51.6676 13.1554 66.3459C20.2744 73.4649 29.6685 77.3546 39.7232 77.3546C49.7778 77.3546 59.1719 73.4649 66.2909 66.3459C80.9692 51.6676 80.9692 27.8888 66.2909 13.2105C59.1719 6.16488 49.7044 2.20174 39.7232 2.20174ZM39.7232 60.3278C34.2188 60.3278 29.0814 58.1994 25.1916 54.3097C21.3019 50.4199 19.1735 45.2826 19.1735 39.7782C19.1735 34.2738 21.3019 29.1364 25.1916 25.2467C29.0814 21.3569 34.2188 19.2286 39.7232 19.2286C45.2275 19.2286 50.3649 21.3569 54.2547 25.2467C58.1444 29.1364 60.2728 34.2738 60.2728 39.7782C60.2728 45.2826 58.1444 50.4199 54.2547 54.3097C50.3649 58.1994 45.1541 60.3278 39.7232 60.3278ZM39.7232 21.5037C35.0261 21.5037 30.329 23.2651 26.7329 26.8613C23.2835 30.3107 21.3753 34.9344 21.3753 39.8516C21.3753 44.7688 23.2835 49.3191 26.7329 52.8419C33.8518 59.9608 45.5211 59.9608 52.6401 52.8419C59.759 45.7229 59.759 34.0537 52.6401 26.9347C49.1173 23.2651 44.4202 21.5037 39.7232 21.5037Z" fill="white"/>
        <path d="M18.588 71.4834C17.2669 71.4834 15.9459 70.9697 14.9184 69.9422L8.7535 63.7039C7.94619 62.8966 7.50586 61.7957 7.50586 60.6215C7.50586 59.4472 7.94619 58.3463 8.7535 57.539L21.8906 44.4753L22.4777 46.09C23.4318 48.5853 24.8262 50.787 26.7344 52.6952C28.5692 54.53 30.771 55.9244 33.1929 56.8785L34.8075 57.4656L22.2575 69.9422C21.3034 71.0431 19.9824 71.4834 18.588 71.4834ZM16.533 68.401C17.7073 69.5752 19.6154 69.5752 20.7897 68.401L30.9177 58.3463C28.7894 57.3188 26.8812 55.9978 25.1932 54.3098C23.5052 52.6218 22.1108 50.6402 21.0833 48.5119L10.2947 59.227C9.85438 59.594 9.63421 60.1811 9.63421 60.7683C9.63421 61.3554 9.85437 61.8691 10.2213 62.3095L16.533 68.401Z" fill="white"/>
        <path d="M21.9638 34.9345L9.26707 22.1644C7.35889 20.2562 7.35889 17.1738 9.26707 15.2656L15.5787 9.0273C16.4594 8.1466 17.5603 7.70624 18.808 7.70624C20.0556 7.70624 21.1565 8.21999 22.0372 9.0273L34.9541 22.0176L33.3395 22.6047C30.8442 23.5588 28.6424 24.9532 26.7342 26.8614C24.8994 28.6962 23.505 30.898 22.5509 33.3199L21.9638 34.9345ZM18.808 9.90798C18.1474 9.90798 17.5603 10.1282 17.1199 10.5685L10.8083 16.8068C9.78082 17.8343 9.78082 19.5223 10.8083 20.6231L21.0831 30.9713C22.1106 28.843 23.4316 26.9348 25.1196 25.2468C26.8076 23.5588 28.7892 22.1644 30.9176 21.1369L20.4226 10.5685C20.0556 10.1282 19.3951 9.90798 18.808 9.90798Z" fill="white"/>
        <path d="M60.568 71.8504C59.3203 71.8504 58.0727 71.3366 57.192 70.4559L44.4219 57.6124L46.0365 57.0253C48.5318 56.0712 50.7336 54.6768 52.6417 52.7686C54.4765 50.9338 55.8709 48.7321 56.825 46.3102L57.4122 44.6956L70.1089 57.4657C72.0171 59.3738 71.9437 62.4563 70.1089 64.2911L63.944 70.4559C63.0633 71.3366 61.8157 71.8504 60.568 71.8504ZM48.385 58.4198L58.8066 68.9147C59.3204 69.4285 59.9075 69.6487 60.568 69.6487C61.2285 69.6487 61.889 69.3551 62.4028 68.9147L68.5677 62.7498C69.5951 61.7224 69.5951 60.0344 68.5677 59.0069L58.2195 48.5853C57.192 50.7136 55.8709 52.6218 54.1829 54.3098C52.4949 56.0712 50.5868 57.3923 48.385 58.4198Z" fill="white"/>
        <path d="M57.4852 35.0078L56.8981 33.3932C55.944 30.8979 54.5496 28.6962 52.6414 26.788C50.8066 24.9532 48.6049 23.5588 46.183 22.6047L44.5684 22.0175L57.7054 8.95387C59.3934 7.26587 62.1089 7.26587 63.7235 8.95387L70.2554 15.5591C71.1361 16.4398 71.6498 17.6875 71.6498 18.9351C71.6498 20.1828 71.1361 21.4304 70.2554 22.3111L57.4852 35.0078ZM48.5315 21.2836C50.6598 22.3111 52.568 23.6322 54.256 25.3202C55.944 27.0082 57.3385 28.9898 58.3659 31.1181L68.7875 20.6965C69.3013 20.1828 69.5215 19.5956 69.5215 18.8617C69.5215 18.2012 69.2279 17.5407 68.7875 17.0269L62.2557 10.4217C61.4484 9.61439 60.1273 9.61439 59.32 10.4217L48.5315 21.2836Z" fill="white"/>
        </svg>
    <svg class="menu__pattern-bicycle" width="122" height="69" viewBox="0 0 122 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="23.6808" cy="44.2549" r="23.6808" fill="#FFDA05"/>
        <path d="M97.4647 68.1209C84.4507 68.1209 73.8652 57.5354 73.8652 44.5214C73.8652 31.5075 84.4507 20.922 97.4647 20.922C110.479 20.922 121.064 31.5075 121.064 44.5214C121.064 57.5354 110.479 68.1209 97.4647 68.1209ZM97.4647 22.79C85.5093 22.79 75.7333 32.5037 75.7333 44.5214C75.7333 56.5391 85.447 66.2528 97.4647 66.2528C109.482 66.2528 119.196 56.5391 119.196 44.5214C119.196 32.5037 109.482 22.79 97.4647 22.79Z" fill="white"/>
        <path d="M81.0136 8.57134L79.3398 9.40074L93.3568 37.6872L95.0305 36.8578L81.0136 8.57134Z" fill="white"/>
        <path d="M62.0349 47.5102L41.5488 9.34011L43.2301 8.46839L61.9726 43.4005L82.2719 1.05852L83.9531 1.86799L62.0349 47.5102Z" fill="white"/>
        <path d="M80.1548 8.03262H42.6074V9.90065H80.1548V8.03262Z" fill="white"/>
        <path d="M28.4722 39.6645L26.791 38.9173L43.7278 1.86803H28.2232V0H46.6544L28.4722 39.6645Z" fill="white"/>
        <path d="M92.608 0H70.2539V1.86803H92.608V0Z" fill="white"/>
        </svg>
    .menu__head-block 
        .lang-block
            ul.langs
                li
                    a(href="#") UA
                li
                    a(href="#") RU
                li
                    a(href="#") EN
            <svg class="birdy" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
            </svg>
        .menu__title МЕНЮ
        a().button-std.transparent.yellow-icon.text-white.right-side-icon.uppercased.js-menu-close
            span закрити
            .button-std__icon 
                +svg('close-symbol')
    .nav-menu
        .nav-menu__group.mobile-hide
            +img('common/logo-in-white-circle.png').nav-menu__logo
        .nav-menu__group.first
            a(href="about.html").nav-menu__group-title Про проект
            a(href="gallery.html").nav-menu__group-title Галерея
            a(href="news.html").nav-menu__group-title Новини
            a(href="contacts.html").nav-menu__group-title Контакти
        .nav-menu__group
            .nav-menu__group-title Про проект
            ul.nav-menu__group-links
                li
                    a(href="about.html") Про проект
                li  
                    a(href="location.html") Розташування 
                li  
                    a(href="values.html") Цінності
                li  
                    a(href="advantages.html") Переваги
        .nav-menu__group
            .nav-menu__group-title Інфраструктура
            ul.nav-menu__group-links 
                li
                    a(href="seafront.html") Набережна 
                li
                    a(href="boulevard.html") Бульвар 
                li
                    a(href="for-life.html") Для життя 
                li
                    a(href="for-work.html") Для роботи 
                li
                    a(href="for-sport.html") Для спорту 
                li
                    a(href="for-leisure.html") Для відпочинку 
                li
                    a(href="for-kids.html") Для дітей
        .nav-menu__group.mobile-hide
            +svg('wave-pattern')
        .nav-menu__group
            .nav-menu__group-title Квартири
            ul.nav-menu__group-links
                
                li
                    a(href="choose-build.html") Вибрати будинок 
                li
                    a(href="choose-flat.html") Вибрати квартиру 
                li
                    a(href="technical-characteristics.html") Технічні характеристики квартир 
                li
                    a(href="installment-and-credit.html") Розтермінування та кредит
        .nav-menu__group
            .nav-menu__group-title Комерційна нерухомість
            ul.nav-menu__group-links
                li 
                    a(href="buy-and-lease.html") Купівля та оренда 
                li 
                    a(href="offices.html") Офіси 
                li 
                    a(href="trading.html") Торгівля 
                li 
                    a(href="restaraunts.html") Ресторани 
                li 
                    a(href="medicine.html") Медицина
        .nav-menu__group
            .nav-menu__group-title Будівництво
            ul.nav-menu__group-links
                li
                    a(href="developers.html") Девелопери проєкту 
                li
                    a(href="build-progress.html") Хід будівництва 
                li
                    a(href="documentation.html") Документація 
                li
                    a(href="web-camera.html") Веб камера
    .developers-block.nav-menu__bottom
        a(target='_blank' href="https://perfect-group.ua/")
            +img('developers/perfect-group-white.svg').perfect-logo
        a(target='_blank' href="https://saga-development.com.ua/")
            +img('developers/saga-white.svg').saga-logo