nav.menu.closed
    .menu-net
        .menu-net__line.vert.vert1
        .menu-net__line.vert.vert2
        .menu-net__line.vert.vert3
        .menu-net__line.vert.vert4
        .menu-net__line.hor.hor1
        .menu-net__line.hor.hor2
        .menu-net__line.hor.hor3
        <svg class="menu-net__heart" viewBox="0 0 679 540" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M657.175 95.3257L657.177 95.3302C670.883 119.978 678.5 148.42 678.5 179.144C678.5 203.799 673.549 226.933 664.411 248.17L664.41 248.172C654.913 270.494 640.486 290.558 623.017 307.228C622.923 307.25 622.838 307.286 622.761 307.332C622.64 307.405 622.551 307.497 622.509 307.538C622.487 307.561 622.472 307.574 622.464 307.582H622.304L622.167 307.692L596.581 328.231L596.56 328.248L596.541 328.267L595.793 329.012L564.876 354.862L564.872 354.865L562.199 357.147L562.184 357.16L562.171 357.173L561.424 357.917L542.349 373.495L542.346 373.498L496.138 411.912L496.137 411.913L458.331 443.101L458.331 443.101L343.382 538.188L343.381 538.189C341.275 539.937 337.725 539.937 335.619 538.189L298.194 507.001L298.193 507L116.413 356.762L116.413 356.762L80.1339 326.715L80.1312 326.712L56.8359 307.695L56.6979 307.582H56.5365C56.5277 307.574 56.5134 307.561 56.4906 307.538C56.4494 307.497 56.36 307.405 56.2391 307.332C56.1639 307.287 56.0812 307.252 55.9905 307.23C54.5137 305.754 53.1239 304.278 51.7282 302.795L51.7258 302.793C50.2953 301.273 48.8586 299.746 47.3253 298.219L46.9434 297.839C45.413 296.315 43.9166 294.823 42.7974 293.339C42.402 292.75 41.9139 292.167 41.4465 291.609L41.4366 291.597C40.9553 291.022 40.4963 290.472 40.132 289.928L40.1045 289.887L40.0694 289.852C39.9212 289.704 39.7597 289.467 39.5592 289.167L39.5424 289.142C39.3713 288.886 39.167 288.581 38.9504 288.357L37.2518 286.102L35.6155 283.929C35.5941 283.821 35.5549 283.724 35.5025 283.637C35.434 283.523 35.3475 283.437 35.3033 283.393L35.2957 283.386C35.2737 283.364 35.2602 283.35 35.252 283.341V283.241L35.1988 283.135C34.4298 281.604 33.2914 280.082 32.1785 278.604C32.1571 278.496 32.1179 278.399 32.0655 278.312C31.997 278.198 31.9104 278.112 31.8663 278.068L31.8588 278.061C31.8367 278.039 31.8232 278.025 31.815 278.016V277.877L31.724 277.747C29.0573 273.953 15.729 253.086 10.7885 237.189L10.7861 237.182L10.7835 237.174C6.97125 226.163 3.92701 215.168 2.4053 203.422L2.40308 203.405L2.39966 203.388C2.21434 202.465 2.12091 201.539 2.02506 200.584L2.02392 200.573C1.92978 199.635 1.83288 198.67 1.63952 197.701C0.880046 191.643 0.5 185.204 0.5 178.764C0.5 168.149 1.64193 157.531 3.54669 147.286L3.54677 147.286L3.54826 147.277C3.73851 146.141 3.92881 145.098 4.11982 144.052L4.1201 144.05C4.31004 143.01 4.50067 141.966 4.69136 140.827C8.12004 126.034 13.0696 111.629 19.917 98.3664L22.7772 93.2388L25.6373 88.1114C26.2017 87.1751 26.7666 86.3309 27.3387 85.4762L27.3416 85.4719C27.9105 84.6221 28.4864 83.7617 29.063 82.8054C38.5863 68.7695 49.6276 55.8789 62.5659 44.8869C63.4685 44.1674 64.2862 43.4484 65.0498 42.777C65.1013 42.7317 65.1526 42.6867 65.2036 42.6418C66.017 41.927 66.7664 41.2744 67.5118 40.7175L67.5187 40.7124L67.5253 40.7071C98.7545 15.6728 138.743 0.5 182.543 0.5C220.628 0.5 256.045 11.8782 285.367 31.5987C287.458 33.1136 289.551 34.7237 291.65 36.3392L291.655 36.3433C293.745 37.9516 295.842 39.5652 297.939 41.0854L339.162 78.8686L339.585 79.2564L339.911 78.7842C372.653 31.3867 433.595 0.5 496.457 0.5C566.154 0.5 626.709 39.191 657.175 95.3257Z" stroke="#BCBCBC" stroke-opacity="0.4"/>
        </svg>

    <svg class="menu__pattern-wheel"  width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.7232 79.5564C29.0814 79.5564 19.1001 75.4464 11.6142 67.8871C-3.8714 52.4015 -3.8714 27.1549 11.6142 11.6693C19.1001 4.18333 29.0814 0 39.7232 0C50.3649 0 60.3461 4.10994 67.8321 11.6693C83.3177 27.1549 83.3177 52.4015 67.8321 67.8871C60.2728 75.4464 50.2915 79.5564 39.7232 79.5564ZM39.7232 2.20174C29.6685 2.20174 20.2744 6.09149 13.1554 13.2105C-1.52287 27.8888 -1.52287 51.6676 13.1554 66.3459C20.2744 73.4649 29.6685 77.3546 39.7232 77.3546C49.7778 77.3546 59.1719 73.4649 66.2909 66.3459C80.9692 51.6676 80.9692 27.8888 66.2909 13.2105C59.1719 6.16488 49.7044 2.20174 39.7232 2.20174ZM39.7232 60.3278C34.2188 60.3278 29.0814 58.1994 25.1916 54.3097C21.3019 50.4199 19.1735 45.2826 19.1735 39.7782C19.1735 34.2738 21.3019 29.1364 25.1916 25.2467C29.0814 21.3569 34.2188 19.2286 39.7232 19.2286C45.2275 19.2286 50.3649 21.3569 54.2547 25.2467C58.1444 29.1364 60.2728 34.2738 60.2728 39.7782C60.2728 45.2826 58.1444 50.4199 54.2547 54.3097C50.3649 58.1994 45.1541 60.3278 39.7232 60.3278ZM39.7232 21.5037C35.0261 21.5037 30.329 23.2651 26.7329 26.8613C23.2835 30.3107 21.3753 34.9344 21.3753 39.8516C21.3753 44.7688 23.2835 49.3191 26.7329 52.8419C33.8518 59.9608 45.5211 59.9608 52.6401 52.8419C59.759 45.7229 59.759 34.0537 52.6401 26.9347C49.1173 23.2651 44.4202 21.5037 39.7232 21.5037Z" fill="white"/>
        <path d="M18.588 71.4834C17.2669 71.4834 15.9459 70.9697 14.9184 69.9422L8.7535 63.7039C7.94619 62.8966 7.50586 61.7957 7.50586 60.6215C7.50586 59.4472 7.94619 58.3463 8.7535 57.539L21.8906 44.4753L22.4777 46.09C23.4318 48.5853 24.8262 50.787 26.7344 52.6952C28.5692 54.53 30.771 55.9244 33.1929 56.8785L34.8075 57.4656L22.2575 69.9422C21.3034 71.0431 19.9824 71.4834 18.588 71.4834ZM16.533 68.401C17.7073 69.5752 19.6154 69.5752 20.7897 68.401L30.9177 58.3463C28.7894 57.3188 26.8812 55.9978 25.1932 54.3098C23.5052 52.6218 22.1108 50.6402 21.0833 48.5119L10.2947 59.227C9.85438 59.594 9.63421 60.1811 9.63421 60.7683C9.63421 61.3554 9.85437 61.8691 10.2213 62.3095L16.533 68.401Z" fill="white"/>
        <path d="M21.9638 34.9345L9.26707 22.1644C7.35889 20.2562 7.35889 17.1738 9.26707 15.2656L15.5787 9.0273C16.4594 8.1466 17.5603 7.70624 18.808 7.70624C20.0556 7.70624 21.1565 8.21999 22.0372 9.0273L34.9541 22.0176L33.3395 22.6047C30.8442 23.5588 28.6424 24.9532 26.7342 26.8614C24.8994 28.6962 23.505 30.898 22.5509 33.3199L21.9638 34.9345ZM18.808 9.90798C18.1474 9.90798 17.5603 10.1282 17.1199 10.5685L10.8083 16.8068C9.78082 17.8343 9.78082 19.5223 10.8083 20.6231L21.0831 30.9713C22.1106 28.843 23.4316 26.9348 25.1196 25.2468C26.8076 23.5588 28.7892 22.1644 30.9176 21.1369L20.4226 10.5685C20.0556 10.1282 19.3951 9.90798 18.808 9.90798Z" fill="white"/>
        <path d="M60.568 71.8504C59.3203 71.8504 58.0727 71.3366 57.192 70.4559L44.4219 57.6124L46.0365 57.0253C48.5318 56.0712 50.7336 54.6768 52.6417 52.7686C54.4765 50.9338 55.8709 48.7321 56.825 46.3102L57.4122 44.6956L70.1089 57.4657C72.0171 59.3738 71.9437 62.4563 70.1089 64.2911L63.944 70.4559C63.0633 71.3366 61.8157 71.8504 60.568 71.8504ZM48.385 58.4198L58.8066 68.9147C59.3204 69.4285 59.9075 69.6487 60.568 69.6487C61.2285 69.6487 61.889 69.3551 62.4028 68.9147L68.5677 62.7498C69.5951 61.7224 69.5951 60.0344 68.5677 59.0069L58.2195 48.5853C57.192 50.7136 55.8709 52.6218 54.1829 54.3098C52.4949 56.0712 50.5868 57.3923 48.385 58.4198Z" fill="white"/>
        <path d="M57.4852 35.0078L56.8981 33.3932C55.944 30.8979 54.5496 28.6962 52.6414 26.788C50.8066 24.9532 48.6049 23.5588 46.183 22.6047L44.5684 22.0175L57.7054 8.95387C59.3934 7.26587 62.1089 7.26587 63.7235 8.95387L70.2554 15.5591C71.1361 16.4398 71.6498 17.6875 71.6498 18.9351C71.6498 20.1828 71.1361 21.4304 70.2554 22.3111L57.4852 35.0078ZM48.5315 21.2836C50.6598 22.3111 52.568 23.6322 54.256 25.3202C55.944 27.0082 57.3385 28.9898 58.3659 31.1181L68.7875 20.6965C69.3013 20.1828 69.5215 19.5956 69.5215 18.8617C69.5215 18.2012 69.2279 17.5407 68.7875 17.0269L62.2557 10.4217C61.4484 9.61439 60.1273 9.61439 59.32 10.4217L48.5315 21.2836Z" fill="white"/>
        </svg>
    <svg class="menu__pattern-bicycle" width="122" height="69" viewBox="0 0 122 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="23.6808" cy="44.2549" r="23.6808" fill="#FFDA05"/>
        <path d="M97.4647 68.1209C84.4507 68.1209 73.8652 57.5354 73.8652 44.5214C73.8652 31.5075 84.4507 20.922 97.4647 20.922C110.479 20.922 121.064 31.5075 121.064 44.5214C121.064 57.5354 110.479 68.1209 97.4647 68.1209ZM97.4647 22.79C85.5093 22.79 75.7333 32.5037 75.7333 44.5214C75.7333 56.5391 85.447 66.2528 97.4647 66.2528C109.482 66.2528 119.196 56.5391 119.196 44.5214C119.196 32.5037 109.482 22.79 97.4647 22.79Z" fill="white"/>
        <path d="M81.0136 8.57134L79.3398 9.40074L93.3568 37.6872L95.0305 36.8578L81.0136 8.57134Z" fill="white"/>
        <path d="M62.0349 47.5102L41.5488 9.34011L43.2301 8.46839L61.9726 43.4005L82.2719 1.05852L83.9531 1.86799L62.0349 47.5102Z" fill="white"/>
        <path d="M80.1548 8.03262H42.6074V9.90065H80.1548V8.03262Z" fill="white"/>
        <path d="M28.4722 39.6645L26.791 38.9173L43.7278 1.86803H28.2232V0H46.6544L28.4722 39.6645Z" fill="white"/>
        <path d="M92.608 0H70.2539V1.86803H92.608V0Z" fill="white"/>
        </svg>
    .menu__head-block 
        .lang-block
            ul.langs
                li
                    a(href="#") UA
                li
                    a(href="#") RU
                li
                    a(href="#") EN
            <svg class="birdy" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
            </svg>
        .menu__title МЕНЮ
        a().button-std.transparent.yellow-icon.text-white.right-side-icon.uppercased.js-menu-close
            span закрити
            .button-std__icon 
                +svg('close-symbol')
    .nav-menu
        a(href="index.html").nav-menu__group.mobile-hide
            <svg class="nav-menu__logo" width="233" height="233" viewBox="0 0 233 233" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="116.5" cy="116.5" r="116.5" fill="white"/>
                <circle cx="116.5" cy="116.5" r="109.528" stroke="#3C3C3B" stroke-opacity="0.2"/>
                <path d="M165.79 100.05C167.409 95.955 167.96 91.516 167.306 86.6297C166.582 81.1241 164.308 76.2722 160.449 72.2806C153.008 64.5726 143.946 61.8542 133.541 64.2973C122.172 66.947 114.041 76.5819 112.973 87.6621C112.869 88.5911 112.835 89.5202 112.835 90.4493C112.8 94.9915 113.937 99.224 116.108 103.181C117.52 105.762 119.278 108.102 121.517 109.994C124.756 112.713 128.029 115.431 131.302 118.115V117.427C131.302 117.874 131.509 118.287 131.853 118.563C134.437 120.696 137.021 122.83 139.605 124.963C140.225 125.479 140.225 125.479 140.845 124.963C143.636 122.658 146.427 120.318 149.252 118.012L149.803 117.565C151.526 116.154 153.249 114.709 154.971 113.298L155.006 113.263C156.418 111.956 158.038 110.889 159.416 109.547C162.276 106.622 164.412 103.491 165.79 100.05Z" fill="#FFDA05"/>
                <path d="M100.328 114.881C100.328 109.857 100.328 104.867 100.328 99.8434C100.328 99.6369 100.328 99.396 100.328 99.1896C100.363 98.2949 100.742 97.7443 101.637 97.5034C102.533 97.2626 103.463 97.0217 104.359 96.8152C105.565 96.5399 106.323 97.0561 106.599 98.2261C108.184 104.73 111.422 110.235 116.315 114.778C118.072 116.395 119.967 117.874 121.827 119.389C125.858 122.726 129.889 126.064 133.92 129.402C133.989 129.471 134.093 129.54 134.161 129.608C134.644 130.056 134.644 130.056 134.127 130.469C130.923 133.118 127.719 135.768 124.514 138.452C122.344 140.241 120.208 142.031 118.037 143.82C117.899 143.958 117.727 144.061 117.589 144.198C116.797 144.818 116.487 144.818 115.729 144.198C114.385 143.097 113.076 141.996 111.732 140.861C108.252 137.97 104.807 135.08 101.293 132.224C100.604 131.673 100.328 131.054 100.328 130.159C100.328 125.101 100.328 120.008 100.328 114.881Z" fill="#AFBE2D"/>
                <path d="M70.4902 105.28C74.7625 104.214 79.0347 103.147 83.3069 102.08C85.822 101.461 88.3371 100.841 90.8178 100.222C90.9901 100.187 91.1279 100.119 91.3001 100.119C92.3337 99.981 93.0917 100.635 93.1606 101.633C93.1606 101.839 93.1606 102.011 93.1606 102.218C93.1606 108.687 93.1606 115.156 93.1606 121.625C93.1606 121.832 93.1606 122.073 93.1606 122.279C93.0228 123.552 91.6791 124.172 90.6455 123.449C89.8531 122.898 89.1296 122.245 88.4061 121.625C83.8926 117.874 79.3792 114.124 74.8658 110.373C73.2465 109.031 71.8684 107.448 70.6625 105.762C70.5936 105.624 70.4902 105.521 70.4902 105.28Z" fill="#AE7F47"/>
                <path d="M66.46 84.5995C66.391 84.1522 66.5289 83.8081 66.6322 83.464C67.2179 81.2961 68.0793 79.2659 69.1473 77.3045C69.423 76.8228 69.6986 76.7195 70.1809 76.7883C71.4557 76.9948 72.6271 77.4077 73.7641 77.9583C74.4187 78.268 75.0389 78.6121 75.6935 78.8874C77.3817 79.6788 79.1044 79.7132 80.7926 78.853C81.5161 78.4745 82.2052 78.0959 82.8943 77.7174C85.1337 76.5131 87.4421 76.3754 89.8539 77.2013C90.7497 77.511 91.6455 77.9239 92.5068 78.3712C93.058 78.6465 93.6438 78.9562 94.2295 79.1627C95.5732 79.61 96.9168 79.61 98.2605 79.025C99.053 78.6809 99.7765 78.268 100.534 77.8551C101.706 77.2013 102.946 76.7883 104.29 76.7195C105.565 76.6507 106.736 76.926 107.942 77.3045C108.286 77.4077 108.252 77.6142 108.149 77.8895C107.632 79.1283 107.184 80.4014 106.839 81.709C106.633 82.4661 106.46 83.1887 106.288 83.9457C106.219 84.2554 106.116 84.3586 105.806 84.2898C103.808 84.0145 101.913 84.5307 100.155 85.4598C99.4319 85.8383 98.7084 86.2512 97.9504 86.5953C96.8135 87.1459 95.6765 87.1459 94.5051 86.733C93.7127 86.4233 92.9547 86.0104 92.1967 85.6318C91.0253 85.0813 89.8194 84.5995 88.5446 84.3587C86.4085 83.9457 84.3758 84.3587 82.4808 85.3566C81.6884 85.7695 80.9304 86.1824 80.138 86.5609C78.9666 87.1115 77.7952 87.1115 76.6237 86.6642C75.9691 86.4233 75.3145 86.0792 74.6943 85.7695C73.3507 85.0813 71.9725 84.5651 70.491 84.3242C69.3196 84.1178 68.1826 84.221 67.0457 84.4619C66.8389 84.4963 66.7011 84.5307 66.46 84.5995Z" fill="#1999D5"/>
                <path d="M65.8045 90.3117C65.7356 88.9353 65.8389 87.5589 66.0456 86.2168C66.1145 85.8039 66.3213 85.5975 66.7003 85.4942C68.3196 85.0125 69.9044 85.0125 71.4893 85.4942C72.4884 85.8039 73.4531 86.1824 74.3834 86.6642C75.038 87.0083 75.6926 87.3524 76.4161 87.5933C77.7943 88.075 79.1035 88.0406 80.4472 87.4556C81.2052 87.1115 81.9287 86.733 82.6522 86.3201C85.0984 84.9092 87.648 84.7716 90.2664 85.8039C91.1278 86.148 91.9891 86.5609 92.816 86.9739C93.2983 87.2147 93.7462 87.4212 94.263 87.5933C95.6067 88.075 96.9504 88.0406 98.2941 87.4556C99.1899 87.0771 100.017 86.5609 100.878 86.1136C101.946 85.563 103.049 85.2189 104.255 85.1157C104.461 85.0813 104.702 85.0813 104.909 85.0813C106.081 85.0813 106.081 85.1157 105.943 86.2513C105.771 87.7997 105.667 89.3826 105.667 90.9311C105.667 91.7913 105.495 91.9978 104.702 92.2043C101.257 93.0645 97.8118 93.8904 94.3664 94.7162C93.953 94.8195 93.6084 94.7162 93.2639 94.5442C92.2647 94.028 91.2311 93.5463 90.1631 93.1678C87.4413 92.2387 84.8572 92.4796 82.3421 93.856C81.6531 94.2345 80.9295 94.613 80.206 94.9571C79.0001 95.5765 77.7598 95.5765 76.5195 95.0603C75.9682 94.8539 75.4514 94.5786 74.9346 94.3377C74.0388 93.8904 73.1431 93.4775 72.2128 93.1678C70.3179 92.514 68.3885 92.4451 66.4591 92.9957C65.8734 93.1678 65.8389 93.1678 65.8045 92.5828C65.77 91.8258 65.8045 91.0687 65.8045 90.3117Z" fill="#1999D5"/>
                <path d="M70.1787 75.8937C70.1443 75.6528 70.2476 75.5495 70.3165 75.4463C71.5224 73.6226 73.0039 72.0053 74.5888 70.5256C74.8988 70.2503 75.14 70.1815 75.519 70.388C77.4484 71.3859 79.3778 71.2826 81.2727 70.2159C81.824 69.9062 82.3753 69.5965 82.961 69.3213C85.166 68.1513 87.4744 68.0137 89.8172 68.8051C90.7475 69.1148 91.6088 69.5277 92.4701 69.9406C93.0214 70.2159 93.5726 70.4912 94.1239 70.6977C95.5709 71.2482 96.9835 71.2138 98.3617 70.56C99.0852 70.2159 99.8087 69.8374 100.498 69.4589C102.944 68.0825 105.459 67.9448 108.043 68.9083C109.146 69.3212 110.214 69.9062 111.282 70.388C111.695 70.5944 111.833 70.9041 111.695 71.3515C111.661 71.4891 111.557 71.6612 111.454 71.7988C110.489 73.2096 109.628 74.6893 108.904 76.2378C108.767 76.5475 108.629 76.6163 108.284 76.513C107.595 76.2378 106.872 76.0657 106.148 75.9625C104.288 75.6528 102.531 75.9625 100.842 76.7883C100.015 77.2013 99.1886 77.6486 98.3617 78.0959C96.9491 78.853 95.502 78.853 94.0894 78.1992C93.4348 77.8895 92.8147 77.5798 92.16 77.2701C90.9542 76.6851 89.6794 76.2378 88.3357 75.9969C86.4752 75.6872 84.7181 75.9969 83.0299 76.8227C82.2719 77.1668 81.5484 77.5798 80.8248 77.9927C79.1711 78.9218 77.5173 78.9562 75.8635 78.0615C75.519 77.8895 75.1745 77.7174 74.8299 77.5454C73.314 76.7195 71.8325 76.1345 70.1787 75.8937Z" fill="#1999D5"/>
                <path d="M108.251 68.0481C107.355 67.8416 106.666 67.6351 105.943 67.5319C104.151 67.291 102.497 67.5663 100.878 68.3578C100.12 68.7019 99.3964 69.1148 98.6729 69.5277C97.0191 70.4912 95.3309 70.4912 93.6427 69.6309C92.5057 69.046 91.3343 68.461 90.094 68.0481C87.4411 67.1534 84.8915 67.3598 82.4453 68.6674C81.6529 69.0804 80.8604 69.5621 80.0336 69.9406C78.7932 70.4912 77.2084 70.4568 75.9336 69.6653C83.7545 62.68 97.8116 60.9939 108.251 68.0481Z" fill="#1999D5"/>
                <path d="M92.2658 95.2668C90.4742 95.7142 88.6482 96.1615 86.8566 96.6088C81.034 98.0197 75.2113 99.4305 69.3887 100.841C69.2164 100.876 69.0786 100.945 68.9063 100.945C68.2173 101.048 67.8727 100.876 67.6316 100.222C67.0459 98.7767 66.598 97.3315 66.3223 95.8174C66.2879 95.6798 66.2534 95.5421 66.2534 95.4045C66.0812 94.0625 65.7366 94.2345 67.2181 93.8216C68.6652 93.4431 70.1122 93.5119 71.5248 93.9248C72.4895 94.2001 73.4542 94.613 74.35 95.0604C74.729 95.2324 75.0735 95.4389 75.4525 95.6109C77.3819 96.5744 79.3113 96.6088 81.2062 95.5421C81.8609 95.1636 82.5155 94.8539 83.1701 94.5098C85.2373 93.4431 87.3734 93.271 89.5784 93.9936C90.4053 94.2689 91.2322 94.5786 92.0246 94.9916C92.0935 95.026 92.2314 95.0604 92.2658 95.2668Z" fill="#1999D5"/>
                <path d="M116.108 103.147C117.52 105.728 119.278 108.068 121.517 109.96C124.756 112.679 128.029 115.397 131.302 118.081V85.0469C131.302 84.049 130.372 83.3608 129.441 83.5673L112.973 87.6277C112.869 88.5568 112.835 89.4859 112.835 90.415C112.8 94.9915 113.937 99.224 116.108 103.147Z" fill="#83529B"/>
                <path d="M149.768 97.3658V117.565C151.49 116.154 153.213 114.709 154.936 113.298V97.8475C154.936 96.9529 154.074 96.2991 153.213 96.5055L149.768 97.3658Z" fill="#83529B"/>
                <path d="M131.334 85.2534V118.115C134.09 120.386 136.847 122.692 139.603 124.963C140.223 125.479 140.223 125.479 140.843 124.963C143.634 122.658 146.425 120.318 149.25 118.012L149.801 117.565V97.3659V90.7246C149.801 90.1052 149.388 89.5203 148.802 89.3138L133.298 83.8425C132.333 83.4984 131.334 84.2211 131.334 85.2534Z" fill="#9975B0"/>
                <path d="M154.935 113.263C154.935 113.263 154.901 113.263 154.935 113.263C156.348 111.956 158.002 110.889 159.38 109.513C162.274 106.622 164.444 103.456 165.788 100.05L156.796 96.7464C155.9 96.4023 154.935 97.0905 154.935 98.054V113.263Z" fill="#9975B0"/>
                <path d="M154.936 98.0196V113.263C154.97 113.229 154.936 113.263 154.936 113.263" fill="#9975B0"/>
                <path d="M64.4946 155.52V168.011H61.7383V162.677H57.156V168.011H54.3652V155.52H57.156V160.371H61.7383V155.52H64.4946Z" fill="#3C3C3B"/>
                <path d="M66.873 161.61C66.873 157.997 69.147 155.21 73.1436 155.21C77.0024 155.21 79.2419 158.066 79.2419 161.817C79.2419 165.499 77.0368 168.32 73.2814 168.32C69.1814 168.32 66.873 165.567 66.873 161.61ZM76.2444 161.851C76.2444 159.408 75.1419 157.55 73.1436 157.55C71.0075 157.55 69.8016 159.305 69.8016 161.645C69.8016 164.157 71.0419 166.015 73.2469 166.015C75.1419 165.98 76.2444 164.088 76.2444 161.851Z" fill="#3C3C3B"/>
                <path d="M85.9239 155.52C88.818 155.52 89.9205 156.862 89.9205 158.754C89.9205 159.614 89.5759 160.509 89.0247 161.197C90.1272 161.92 90.8507 163.055 90.8507 164.432C90.8507 166.462 89.197 168.011 86.2684 168.011H81.6172V155.52H85.9239ZM85.8894 160.371C86.6474 160.371 86.9919 159.718 86.9919 159.029C86.9919 158.444 86.6129 157.859 85.855 157.859H84.4079V160.371H85.8894ZM85.9928 162.711H84.3735V165.705H86.1306C87.1642 165.705 87.7499 165.12 87.7499 164.157C87.7499 163.331 87.302 162.711 85.9928 162.711Z" fill="#3C3C3B"/>
                <path d="M95.9157 155.52V163.09L100.808 155.52H103.564V168.011H100.808V160.268L95.9157 168.011H93.125V155.52H95.9157Z" fill="#3C3C3B"/>
                <path d="M109.422 155.52V163.09L114.314 155.52H117.07V168.011H114.314V160.268L109.422 168.011H106.631V155.52H109.422ZM110.524 150.633C110.662 151.562 111.385 152.388 112.247 152.388C113.108 152.388 113.763 151.666 114.107 150.633L115.692 151.115C115.279 153.008 114.142 154.453 112.212 154.453C110.248 154.453 109.146 153.042 108.836 151.081L110.524 150.633Z" fill="#3C3C3B"/>
                <path d="M134.711 155.52V168.011H131.955V157.825H127.373V168.011H124.582V155.52H134.711Z" fill="#3C3C3B"/>
                <path d="M137.088 161.61C137.088 157.997 139.362 155.21 143.358 155.21C147.217 155.21 149.457 158.066 149.457 161.817C149.457 165.499 147.252 168.32 143.496 168.32C139.396 168.32 137.088 165.567 137.088 161.61ZM146.494 161.851C146.494 159.408 145.391 157.55 143.393 157.55C141.257 157.55 140.051 159.305 140.051 161.645C140.051 164.157 141.291 166.015 143.496 166.015C145.357 165.98 146.494 164.088 146.494 161.851Z" fill="#3C3C3B"/>
                <path d="M151.663 165.705C152.834 162.47 153.385 159.098 153.42 155.52H160.69V165.705H161.861V170.867H159.518V168.011H152.696V170.867H150.354V165.705H151.663ZM154.522 165.705H157.933V157.859H155.969C155.763 160.647 155.315 163.331 154.522 165.705Z" fill="#3C3C3B"/>
                <path d="M167.062 155.52V168.011H164.271V155.52H167.062Z" fill="#3C3C3B"/>
                <path d="M178.984 155.52V168.011H176.227V157.825H174.126L173.437 164.157C173.23 166.221 172.058 168.011 168.889 168.011V165.739C170.508 165.739 170.715 164.982 170.887 163.296L171.748 155.52H178.984Z" fill="#3C3C3B"/>
                </svg>
            //- +img('common/logo-in-white-circle.png').
        .nav-menu__group.first
            a(href="index.html").nav-menu__group-title головна
            a(href="gallery.html").nav-menu__group-title Галерея
            a(href="news.html").nav-menu__group-title Новини
            a(href="contacts.html").nav-menu__group-title Контакти
        .nav-menu__group
            .nav-menu__group-title Про проект
            ul.nav-menu__group-links
                li
                    a(href="about.html") Про проект
                li  
                    a(href="location.html") Розташування 
                li  
                    a(href="values.html") Цінності
                li  
                    a(href="advantages.html") Переваги
        .nav-menu__group
            .nav-menu__group-title Інфраструктура
            ul.nav-menu__group-links 
                li
                    a(href="seafront.html") Набережна 
                li
                    a(href="boulevard.html") Бульвар 
                li
                    a(href="for-life.html") Для життя 
                li
                    a(href="for-work.html") Для роботи 
                li
                    a(href="for-sport.html") Для спорту 
                li
                    a(href="for-leisure.html") Для відпочинку 
                li
                    a(href="for-kids.html") Для дітей
        .nav-menu__group.mobile-hide
            +svg('wave-pattern')
        .nav-menu__group
            .nav-menu__group-title Квартири
            ul.nav-menu__group-links
                
                li
                    a(href="choose-build.html") Вибрати будинок 
                li
                    a(href="choose-flat.html") Вибрати квартиру 
                li
                    a(href="technical-characteristics.html") Технічні характеристики квартир 
                li
                    a(href="installment-and-credit.html") Розтермінування та кредит
        .nav-menu__group
            .nav-menu__group-title Комерційна нерухомість
            ul.nav-menu__group-links
                li 
                    a(href="buy-and-lease.html") Купівля та оренда 
                li 
                    a(href="offices.html") Офіси 
                li 
                    a(href="trading.html") Торгівля 
                li 
                    a(href="restaraunts.html") Ресторани 
                li 
                    a(href="medicine.html") Медицина
        .nav-menu__group
            .nav-menu__group-title Будівництво
            ul.nav-menu__group-links
                li
                    a(href="developers.html") Девелопери проєкту 
                li
                    a(href="build-progress.html") Хід будівництва 
                li
                    a(href="documentation.html") Документація 
                li
                    a(href="web-camera.html") Веб камера
    .developers-block.nav-menu__bottom
        a(target='_blank' href="https://perfect-group.ua/")
            +img('developers/perfect-group-white.svg').perfect-logo
        a(target='_blank' href="https://saga-development.com.ua/")
            +img('developers/saga-white.svg').saga-logo