.form-popup-wrapper.form-js
    img.form-logo(src='./assets/images/common/logo-in-white-circle.png ' alt='foto ')
    form.form-popup-js.form-content.form-container-js
        legend.form-legend &Zcy;&acy;&lcy;&icy;&shcy;&tcy;&iecy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;, &iukcy; &mcy;&icy; &Vcy;&acy;&scy; &ocy;&bcy;&ocy;&vcy;&grave;&yacy;&zcy;&kcy;&ocy;&vcy;&ocy; &pcy;&ocy;&vcy;&iukcy;&dcy;&ocy;&mcy;&icy;&mcy;&ocy; &pcy;&rcy;&ocy; &scy;&tcy;&acy;&rcy;&tcy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&iukcy;&vcy;!
        .form-border
        .form-boat
            svg(width='100% ' height='100% ' viewbox='0 0 149 59 ' fill='none ' xmlns='http://www.w3.org/2000/svg ')
                path(d='M1 57.557L26.2923 23.2411H146.132L124.41 44.6902C116.049 52.9478 104.779 57.57 93.0285 57.57H1V57.557Z ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M47.6765 23.2411L39.9512 1H56.1938C60.5693 1 64.763 2.72683 67.8791 5.79099L85.524 23.2021 ' stroke-width='2 ' stroke-miterlimit='10 ')
            path(d='M128.76 40.3926H13.9058 ' stroke-width='2 ' stroke-miterlimit='10 ')
        .form-bicycle
            svg(width='100% ' height='100% ' viewbox='0 0 136 77 ' fill='none ' xmlns='http://www.w3.org/2000/svg ')
                path(d='M26.3661 75.1699C40.3754 75.1699 51.7323 63.8131 51.7323 49.8038C51.7323 35.7945 40.3754 24.4377 26.3661 24.4377C12.3568 24.4377 1 35.7945 1 49.8038C1 63.8131 12.3568 75.1699 26.3661 75.1699Z ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M109.065 75.1699C123.075 75.1699 134.431 63.8131 134.431 49.8038C134.431 35.7945 123.075 24.4377 109.065 24.4377C95.056 24.4377 83.6992 35.7945 83.6992 49.8038C83.6992 63.8131 95.056 75.1699 109.065 75.1699Z ' stroke-width='2\
                ' stroke-miterlimit='10 ')
                path(d='M89.6885 9.9931L105.375 41.6637 ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M92.9895 1.61194L69.3479 50.8608L47.3564 9.95605 ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M89.6881 9.9931H47.6152 ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M31.4644 1H50.5076L30.8525 43.9444 ' stroke-width='2 ' stroke-miterlimit='10 ')
                path(d='M78.5449 1H103.596 ' stroke-width='2 ' stroke-miterlimit='10 ')
        .input-group.text
            span.error-span.text-error
            label.name-label.common-label(for='name') &Vcy;&acy;&shcy;&iecy; &iukcy;&mcy;&grave;&yacy;:
            input.text-input.common-input(type='text' name='name' placeholder='Ваше ім`я:' autocomplete='off' data-required='true' data-count='0')
        .input-group.text
            span.error-span.text-error
            label.phone-label.common-label(for='telephone') &Vcy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;:*
            input.text-input.common-input(maxlength='13' type='text' name='tel' placeholder='Ваш телефон:*' autocomplete='off' data-required='true')
        .input-group.hidden(style='opacity:0;visibility:hidden; pointer-events:none')
            span.error-span.hidden-error
            input.hidden-input.common-input(type='hidden' value='1' name='typ' placeholder='false' autocomplete='off' data-required='false' hidden='null')
        .input-group.hidden(style='opacity:0;visibility:hidden; pointer-events:none')
            span.error-span.hidden-error
            input.hidden-input.common-input(type='hidden' value='Замовити дзвінок - New Podil' name='metka' placeholder='false' autocomplete='off' data-required='false' hidden='null')
        .input-group.hidden(style='opacity:0;visibility:hidden; pointer-events:none')
            span.error-span.hidden-error
            input.hidden-input.common-input(type='hidden' value='New Podil' name='inn' placeholder='false' autocomplete='off' data-required='false' hidden='null')
        button.send-button.submit-js(type='submit') Отправить
        span.form-popup-close-js
            svg(width='29' height='29' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                line(x1='20.9794' y1='21.3092' x2='6.88322' y2='7.21302' stroke='#83529B' stroke-width='2')
                line(x1='6.88274' y1='20.9794' x2='20.9789' y2='6.88316' stroke='#83529B' stroke-width='2')