extends ../layout/main
block variable
    -pageName = 'choose-flat';
    - var version = "ua";
        
block meta
    title= 'Обрати квартиру Новий Поділ'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src="./assets/scripts/libs.js")
    script(defer src="./assets/scripts/index.js")
    script(defer src="./assets/scripts/forms-handler.js")
    script(defer src="./assets/scripts/choose-flat.js")

block content
    h1.page-title.title.white Обрати квартиру
    .breadcrumbs-block
        a(href="index.html").breadcrumbs-block__item 
            span Головна
        a(href="choose-build.html").breadcrumbs-block__item 
            span Обрати будинок
        a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Будинок 2 поверх 3
    .choose-flat-top-links
        a(href="choose-build.html").button-std.text-white.blue.blue-light-icon
            span Генплан
            .button-std__icon 
                +svg('arrow').choose-flat-icon-arrow
        a(href="filter.html").button-std.text-white.blue.blue-light-icon
            span За параметрами
            .button-std__icon 
                +svg('range-icon')
    .choose-flat-left
        ul.flat-description-wrapper
            li
                +svg('choose-flat-heart').violet2
                span 1-кімнатні
            li
                +svg('choose-flat-heart').green
                span 2-кімнатні
            li
                +svg('choose-flat-heart').yellow
                span 3-кімнатні
            li
                +svg('choose-flat-heart').blue
                span 4-кімнатні
        +svg('compass')
        .text.mini-genplan-title Генплан
        include ../../assets/images/choose-build/genplan.svg
    .choose-flat-center
        include ../includes/floor-plan.pug
        .floor-switcher.floor-switcher-js
            .floor-switcher__popup
                a(href="choose-flat.html") 1 
                a(href="choose-flat.html") 2
                a(href="choose-flat.html") 3
                a(href="choose-flat.html") 4
                a(href="choose-flat.html") 5
                a(href="choose-flat.html") 6
            a.prev
                +svg('vertical-arrow')
            .current <span>4</span> поверх 
            a.next
                +svg('vertical-arrow')
    .choose-flat-popup.choose-flat-popup-js
        +img('logo-no-circle.png').choose-flat-popup__row
        .choose-flat-popup__row
            span.choose-flat-popup__row-title Кількість кімнат
            span.choose-flat-popup__row-value.flats-js 1 
        .choose-flat-popup__row
            span.choose-flat-popup__row-title Загальна площа
            span.choose-flat-popup__row-value.tot-square-js.square-metres 2
        .choose-flat-popup__row
            span.choose-flat-popup__row-title Житлова площа
            span.choose-flat-popup__row-value.live-square-js.square-metres 2
        .choose-flat-popup__row
            span.choose-flat-popup__row-title Поверх
            span.choose-flat-popup__row-value.floor-js 2
    <svg class="choose-flat-pattern" width="310" height="135" viewBox="0 0 310 135" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M260.236 121.575C260.236 120.687 260.581 119.849 261.222 119.208L270.049 110.43L270.493 111.663C271.134 113.34 272.071 114.819 273.353 116.101C274.586 117.334 276.066 118.271 277.693 118.912L278.926 119.405L270.148 128.134C269.507 128.775 268.669 129.12 267.732 129.12C266.844 129.12 265.956 128.775 265.315 128.134L261.124 123.942C260.581 123.301 260.236 122.463 260.236 121.575ZM269.408 113.488L262.406 120.441C262.11 120.737 261.913 121.131 261.913 121.575C261.913 122.019 262.06 122.413 262.406 122.709L266.597 126.901C266.893 127.197 267.337 127.394 267.781 127.394C268.225 127.394 268.669 127.246 268.964 126.901L275.918 119.997C274.537 119.307 273.255 118.419 272.17 117.285C271.036 116.2 270.099 114.918 269.408 113.488Z" fill="white"/>
        <circle cx="282.915" cy="107.049" r="13.2313" fill="#FFDA05"/>
        <path d="M282.705 134.397C275.455 134.397 268.65 131.586 263.522 126.457C258.393 121.329 255.582 114.523 255.582 107.274C255.582 100.025 258.393 93.2196 263.522 88.091C268.65 82.9624 275.455 80.1515 282.705 80.1515C289.954 80.1515 296.759 82.9624 301.888 88.091C307.016 93.2196 309.827 100.025 309.827 107.274C309.827 114.523 307.016 121.329 301.888 126.457C296.759 131.536 289.954 134.397 282.705 134.397ZM282.705 81.8775C275.899 81.8775 269.538 84.5404 264.754 89.3238C259.971 94.1073 257.308 100.518 257.308 107.274C257.308 114.03 259.971 120.441 264.754 125.224C269.538 130.008 275.949 132.671 282.705 132.671C289.51 132.671 295.871 130.008 300.655 125.224C305.438 120.441 308.101 114.03 308.101 107.274C308.101 100.518 305.438 94.1073 300.655 89.3238C295.871 84.4911 289.461 81.8775 282.705 81.8775ZM282.705 121.328C279.105 121.328 275.505 119.948 272.743 117.235C267.269 111.762 267.269 102.836 272.743 97.362C275.406 94.6991 278.907 93.2689 282.705 93.2689C286.452 93.2689 290.003 94.7484 292.666 97.362C295.329 99.9756 296.759 103.526 296.759 107.323C296.759 111.121 295.28 114.622 292.666 117.285C289.904 119.948 286.305 121.328 282.705 121.328ZM273.976 116.003C278.809 120.835 286.6 120.835 291.433 116.003C293.751 113.685 295.033 110.578 295.033 107.274C295.033 103.97 293.751 100.863 291.433 98.5455C289.115 96.2278 286.009 94.9456 282.705 94.9456C279.401 94.9456 276.294 96.2278 273.976 98.5455C269.143 103.378 269.143 111.17 273.976 116.003Z" fill="white"/>
        <path d="M270.672 104.168L261.944 95.3904C260.612 94.0589 260.612 91.8891 261.944 90.5576L266.185 86.3167C266.777 85.7249 267.615 85.3797 268.453 85.3797C269.292 85.3797 270.13 85.7249 270.722 86.3167L279.598 95.2425L278.365 95.6863C276.689 96.3274 275.209 97.2643 273.927 98.5465C272.694 99.7793 271.757 101.259 271.116 102.886L270.672 104.168ZM268.503 87.1057C268.108 87.1057 267.714 87.2536 267.467 87.5495L263.226 91.7905C262.536 92.4316 262.536 93.5165 263.226 94.2069L270.13 101.111C270.82 99.73 271.708 98.4479 272.842 97.363C273.976 96.2287 275.259 95.3411 276.689 94.6507L269.637 87.5495C269.292 87.2536 268.897 87.1057 268.503 87.1057Z" fill="white"/>
        <path d="M296.856 129.12C295.968 129.12 295.13 128.775 294.489 128.134L285.711 119.307L286.944 118.863C288.62 118.222 290.1 117.285 291.382 116.003C292.615 114.77 293.552 113.29 294.193 111.663L294.686 110.43L303.415 119.208C304.056 119.849 304.401 120.687 304.401 121.624C304.401 122.512 304.056 123.4 303.415 124.041L299.223 128.232C298.582 128.775 297.744 129.12 296.856 129.12ZM288.768 119.948L295.722 126.95C296.018 127.246 296.412 127.443 296.856 127.443C297.3 127.443 297.694 127.295 297.99 126.95L302.182 122.759C302.478 122.463 302.675 122.019 302.675 121.575C302.675 121.131 302.527 120.687 302.182 120.392L295.278 113.438C294.587 114.819 293.7 116.101 292.566 117.186C291.481 118.32 290.198 119.257 288.768 119.948Z" fill="white"/>
        <path d="M294.74 104.217L294.296 102.984C293.655 101.307 292.718 99.8277 291.436 98.5455C290.203 97.3127 288.723 96.3757 287.096 95.7347L285.863 95.2415L294.937 86.2171C295.529 85.6253 296.268 85.3294 297.058 85.3294C297.847 85.3294 298.636 85.6253 299.178 86.2171L303.616 90.6553C304.257 91.2964 304.603 92.1347 304.603 93.0224C304.603 93.91 304.257 94.7484 303.616 95.3895L294.74 104.217ZM288.871 94.6498C290.252 95.3402 291.534 96.2278 292.619 97.362C293.753 98.4962 294.641 99.7784 295.332 101.208L302.334 94.2552C302.63 93.9594 302.827 93.5649 302.827 93.121C302.827 92.6772 302.679 92.2827 302.334 91.9868L297.896 87.5486C297.649 87.302 297.304 87.1541 296.959 87.1541C296.614 87.1541 296.268 87.302 296.022 87.5486L288.871 94.6498Z" fill="white"/>
        <path d="M255.396 45.5332H168.949L168.999 44.5962C169.59 35.9663 174.127 27.7803 181.771 21.616L181.869 21.5667C181.919 21.5174 189.119 16.3394 196.318 11.2108C210.422 1.24941 211.704 0.805597 212.247 0.805597C212.789 0.756284 214.071 1.24941 228.126 11.2108C235.326 16.3394 242.476 21.5174 242.525 21.5667L242.624 21.616C250.268 27.7803 254.755 35.917 255.396 44.5962V45.5332ZM170.774 43.8072H253.522C252.684 35.9663 248.443 28.6186 241.49 22.9968C231.233 15.5504 214.466 3.61647 212.197 2.58088C209.929 3.61647 193.113 15.5011 182.806 22.9475L182.264 22.3064L182.806 22.9968C175.853 28.6186 171.612 36.0157 170.774 43.8072Z" fill="white"/>
        <path d="M227.287 44.7442C227.287 44.5963 226.3 29.0624 211.457 2.13711L212.986 1.29877C227.977 28.6186 228.963 44.0045 229.013 44.6456L227.287 44.7442Z" fill="white"/>
        <path d="M197.058 44.7442L195.332 44.6456C195.381 44.0045 196.318 28.6186 211.359 1.29877L212.888 2.13711C205.145 16.1915 201.25 27.0406 199.376 33.6486C197.305 40.7991 197.058 44.6949 197.058 44.7442Z" fill="white"/>
        <path d="M212.839 45.0894H211.113V92.2827H212.839V45.0894Z" fill="white"/>
        <path d="M191.681 134.249H83.832L114.259 91.6908H255L228.519 118.665C218.607 128.726 205.538 134.249 191.681 134.249ZM87.1854 132.523H191.681C205.095 132.523 217.719 127.197 227.286 117.482L250.907 93.4168H115.146L87.1854 132.523Z" fill="white"/>
        <path d="M182.406 93.121L162.04 72.4092C158.588 68.9079 154.002 66.9847 149.169 66.9847H131.613L140.144 92.3319L138.517 92.8744L129.246 65.2587H149.169C154.495 65.2587 159.475 67.3792 163.273 71.2256L183.639 91.9374L182.406 93.121Z" fill="white"/>
        <path d="M232.859 112.107H100.402V113.833H232.859V112.107Z" fill="white"/>
        <path d="M145.624 59.489C144.145 59.489 142.912 59.0452 141.432 58.3055C140.841 58.0096 140.249 57.6644 139.657 57.3685C138.03 56.4809 136.402 55.5439 134.233 55.1987C131.274 54.7055 129.005 55.248 126.342 56.3329C125.356 56.7274 124.518 57.1713 123.63 57.6151C122.348 58.3055 121.115 58.8972 119.685 59.2424C117.269 59.8342 115.592 59.341 113.521 58.3055C112.929 58.0096 112.337 57.6644 111.745 57.3685C110.118 56.4809 108.491 55.5439 106.321 55.1987C103.362 54.7055 101.094 55.248 98.4308 56.3329C97.4445 56.7274 96.6062 57.1713 95.7185 57.6151C94.4364 58.3055 93.2035 58.8972 91.7734 59.2424L91.3789 57.5657C92.6118 57.2699 93.6967 56.6781 94.8802 56.0863C95.7678 55.6425 96.6555 55.1494 97.7404 54.7549C100.601 53.6207 103.165 52.9796 106.518 53.522C108.984 53.9165 110.858 54.9521 112.485 55.8891C113.077 56.2343 113.619 56.5302 114.162 56.7767C115.937 57.6644 117.219 58.0096 119.192 57.5657C120.425 57.2699 121.51 56.6781 122.693 56.0863C123.581 55.6425 124.468 55.1494 125.553 54.7549C128.414 53.6207 130.978 52.9796 134.331 53.522C136.797 53.9165 138.671 54.9521 140.298 55.8891C140.89 56.2343 141.432 56.5302 141.975 56.7767C143.75 57.6644 145.032 58.0096 147.005 57.5657C148.238 57.2699 149.323 56.6781 150.506 56.0863C151.394 55.6425 152.281 55.1494 153.366 54.7549C156.227 53.6207 158.791 52.9796 162.144 53.522C164.61 53.9165 166.484 54.9521 168.111 55.8891C168.703 56.2343 169.245 56.5302 169.788 56.7767L169.048 58.3055C168.456 58.0096 167.865 57.6644 167.273 57.3685C165.645 56.4809 164.018 55.5439 161.848 55.1987C158.889 54.7055 156.621 55.248 153.958 56.3329C152.972 56.7274 152.133 57.1713 151.246 57.6151C149.964 58.3055 148.731 58.8972 147.301 59.2424C146.906 59.4397 146.265 59.489 145.624 59.489Z" fill="white"/>
        <path d="M145.624 46.1742C144.145 46.1742 142.912 45.7304 141.432 44.9907C140.841 44.6948 140.249 44.3496 139.657 44.0537C138.03 43.1661 136.402 42.2291 134.233 41.8839C131.274 41.3908 129.005 41.9332 126.342 43.0181C125.356 43.4127 124.518 43.8565 123.63 44.3003C122.348 44.9907 121.115 45.5825 119.685 45.9277C117.269 46.5194 115.592 46.0263 113.521 44.9907C112.929 44.6948 112.337 44.3496 111.745 44.0537C110.118 43.1661 108.491 42.2291 106.321 41.8839C103.362 41.3908 101.094 41.9332 98.4308 43.0181C97.4445 43.4127 96.6062 43.8565 95.7185 44.3003C94.4364 44.9907 93.2035 45.5825 91.7734 45.9277L91.3789 44.251C92.6118 43.9551 93.6967 43.3633 94.8802 42.7716C95.7678 42.3277 96.6555 41.8346 97.7404 41.4401C100.601 40.3059 103.165 39.6648 106.518 40.2073C108.984 40.6018 110.858 41.6374 112.485 42.5743C113.077 42.9195 113.619 43.2154 114.162 43.462C115.937 44.3496 117.219 44.6948 119.192 44.251C120.425 43.9551 121.51 43.3633 122.693 42.7716C123.581 42.3277 124.468 41.8346 125.553 41.4401C128.414 40.3059 130.978 39.6648 134.331 40.2073C136.797 40.6018 138.671 41.6374 140.298 42.5743C140.89 42.9195 141.432 43.2154 141.975 43.462C143.75 44.3496 145.032 44.6948 147.005 44.251C148.238 43.9551 149.323 43.3633 150.506 42.7716C151.394 42.3277 152.281 41.8346 153.366 41.4401C156.227 40.3059 158.791 39.6648 162.144 40.2073C164.61 40.6018 166.484 41.6374 168.111 42.5743C168.703 42.9195 169.245 43.2154 169.788 43.462L169.048 44.9907C168.456 44.6948 167.865 44.3496 167.273 44.0537C165.645 43.1661 164.018 42.2291 161.848 41.8839C158.889 41.3908 156.621 41.9332 153.958 43.0181C152.972 43.4127 152.133 43.8565 151.246 44.3003C149.964 44.9907 148.731 45.5825 147.301 45.9277C146.906 46.0756 146.265 46.1742 145.624 46.1742Z" fill="white"/>
        <path d="M145.624 32.8103C144.145 32.8103 142.912 32.3664 141.432 31.6267C140.841 31.3308 140.249 30.9856 139.657 30.6897C138.03 29.8021 136.402 28.8651 134.233 28.5199C131.274 28.0268 129.005 28.5693 126.342 29.6542C125.356 30.0487 124.518 30.4925 123.63 30.9363C122.348 31.6267 121.115 32.2185 119.685 32.5637C117.269 33.1554 115.592 32.6623 113.521 31.6267C112.929 31.3308 112.337 30.9856 111.745 30.6897C110.118 29.8021 108.491 28.8651 106.321 28.5199C103.362 28.0268 101.094 28.5693 98.4308 29.6542C97.4445 30.0487 96.6062 30.4925 95.7185 30.9363C94.4364 31.6267 93.2035 32.2185 91.7734 32.5637L91.3789 30.887C92.6118 30.5911 93.6967 29.9994 94.8802 29.4076C95.7678 28.9638 96.6555 28.4706 97.7404 28.0761C100.601 26.9419 103.165 26.3008 106.518 26.8433C108.984 27.2378 110.858 28.2734 112.485 29.2103C113.077 29.5555 113.619 29.8514 114.162 30.098C115.937 30.9856 117.219 31.3308 119.143 30.887C120.375 30.5911 121.46 29.9994 122.644 29.4076C123.531 28.9638 124.419 28.4706 125.504 28.0761C128.364 26.9419 130.929 26.3008 134.282 26.8433C136.748 27.2378 138.622 28.2734 140.249 29.2103C140.841 29.5555 141.383 29.8514 141.926 30.098C143.701 30.9856 144.983 31.3308 146.906 30.887C148.139 30.5911 149.224 29.9994 150.408 29.4076C151.295 28.9638 152.183 28.4706 153.268 28.0761C156.128 26.9419 158.692 26.3008 162.046 26.8433C164.511 27.2378 166.385 28.2734 168.013 29.2103C168.604 29.5555 169.147 29.8514 169.689 30.098L168.95 31.6267C168.358 31.3308 167.766 30.9856 167.174 30.6897C165.547 29.8021 163.919 28.8651 161.75 28.5199C158.791 28.0268 156.522 28.5693 153.859 29.6542C152.873 30.0487 152.035 30.4925 151.147 30.9363C149.865 31.6267 148.632 32.2185 147.202 32.5637C146.906 32.7609 146.265 32.8103 145.624 32.8103Z" fill="white"/>
        <path d="M145.624 19.4955C144.145 19.4955 142.912 19.0517 141.432 18.312C140.841 18.0161 140.249 17.6709 139.657 17.375C138.03 16.4873 136.402 15.5504 134.233 15.2052C131.274 14.712 129.005 15.2545 126.342 16.3394C125.356 16.7339 124.518 17.1777 123.63 17.6215C122.348 18.3119 121.115 18.9037 119.685 19.2489C117.269 19.8407 115.592 19.3475 113.521 18.312C112.929 18.0161 112.337 17.6709 111.745 17.375C110.118 16.4873 108.491 15.5504 106.321 15.2052C103.362 14.712 101.094 15.2545 98.4308 16.3394C97.4445 16.7339 96.6062 17.1777 95.7185 17.6215C94.4364 18.3119 93.2035 18.9037 91.7734 19.2489L91.3789 17.5722C92.6118 17.2764 93.6967 16.6846 94.8802 16.0928C95.7678 15.649 96.6555 15.1559 97.7404 14.7614C100.601 13.6271 103.165 12.9861 106.518 13.5285C108.984 13.923 110.858 14.9586 112.485 15.8956C113.077 16.2408 113.619 16.5367 114.162 16.7832C115.937 17.6709 117.219 18.0161 119.143 17.5722C120.375 17.2764 121.46 16.6846 122.644 16.0928C123.531 15.649 124.419 15.1559 125.504 14.7614C128.364 13.6271 130.929 12.9861 134.282 13.5285C136.748 13.923 138.622 14.9586 140.249 15.8956C140.841 16.2408 141.383 16.5367 141.926 16.7832C143.701 17.6709 144.983 18.0161 146.906 17.5722C148.139 17.2764 149.224 16.6846 150.408 16.0928C151.295 15.649 152.183 15.1559 153.268 14.7614C156.128 13.6271 158.692 12.9861 162.046 13.5285C164.511 13.923 166.385 14.9586 168.013 15.8956C168.604 16.2408 169.147 16.5367 169.689 16.7832L168.95 18.312C168.358 18.0161 167.766 17.6709 167.174 17.375C165.547 16.4873 163.919 15.5504 161.75 15.2052C158.791 14.712 156.522 15.2545 153.859 16.3394C152.873 16.7339 152.035 17.1777 151.147 17.6215C149.865 18.3119 148.632 18.9037 147.202 19.2489C146.906 19.3969 146.265 19.4955 145.624 19.4955Z" fill="white"/>
        <path d="M1.35156 87.7122V72.1182H50.0238L58.5297 87.7122H1.35156Z" fill="#AFBE2D"/>
        <path d="M87.0882 134.397H0V38.6293C0 32.3664 3.45197 25.068 11.1942 22.9968C17.4571 21.3201 23.4734 24.0324 26.9253 29.9994L87.0882 134.397ZM1.72598 132.72H84.1293L25.4459 30.887C21.7967 24.5749 15.9284 23.5393 11.6381 24.6735C4.78344 26.4981 1.72598 33.0075 1.72598 38.6293V132.72Z" fill="white"/>
        <path d="M50.1019 71.0777H0.886719V72.8037H50.1019V71.0777Z" fill="white"/>
        <path d="M59.3231 86.7102H0.738281V88.4362H59.3231V86.7102Z" fill="white"/>
        <path d="M68.1507 102.392H0.886719V104.118H68.1507V102.392Z" fill="white"/>
        <path d="M76.7313 117.235H0.886719V118.961H76.7313V117.235Z" fill="white"/>
        </svg>

