extends ../layout/main
block variable
    -pageName = 'news';
    - var version = "ua";
        
block meta
    title= 'Новини Новий Поділ'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

    script(defer src="./assets/scripts/libs.js")
    script(defer src="./assets/scripts/index.js")
    script(defer src="./assets/scripts/forms-handler.js")
    script(defer src="./assets/scripts/news.js")
block content
    h1.page-title.title.white Новини
    .breadcrumbs-block
        a(href="index.html").breadcrumbs-block__item 
            span Головна
        a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Новини
    .news-wrapper
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large   Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ. Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ. Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
        a(href="single-news.html").news-card
            +img('gallery/1.jpg').news-card__img
            .news-card__title.text-large Головне місце сили, зустрічей і  відпочинку на НОВОМУ ПОДОЛІ.
            .news-card__date 
                +svg('news-heart')
                span 18.09
                span 2020
            .news-card__text.text Пропонуємо 10 фактів про те, якою стане перша й єдина набережна для прогулянок у центрі міста.
    .news-pagination
        .news-arrows
            .prev
                +svg('gallery-arrow')
            .next
                +svg('gallery-arrow')
        .news-pagination__item.active
            +svg('pagination-heart')
            span 1
        .news-pagination__item
            +svg('pagination-heart')
            span 2
        .news-pagination__item
            +svg('pagination-heart')
            span 3
        .news-pagination__item
            +svg('pagination-heart')
            span 4
        .news-pagination__item
            +svg('pagination-heart')
            span 5

