@font-face {
    font-family: "cinta";
    font-weight: normal;
    font-style: "normal";
    src: url("../fonts/cinta/CintaBook.eot");
    src: url("../fonts/cinta/CintaBook.eot?#iefix") format("embedded-opentype"), url("../fonts/cinta/CintaBook.otf") format("opentype");
}

@font-face {
    font-family: "cinta";
    font-weight: 500;
    font-style: "normal";
    src: url("../fonts/cinta/CintaMedium.eot");
    src: url("../fonts/cinta/CintaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/cinta/CintaMedium.otf") format("opentype");
}

@font-face {
    font-family: "cinta";
    font-weight: bold;
    font-style: "normal";
    src: url("../fonts/cinta/CintaRegular-Bold.eot");
    src: url("../fonts/cinta/CintaRegular-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cinta/CintaRegular-Bold.otf") format("opentype");
}