include ../includes/mixins.pug
block variable

doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		// Google Tag Manager
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PDDZPDG');
		</script>
		// End Google Tag Manager
		
		block meta
		block head
			

	body
		// Google Tag Manager (noscript)
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDDZPDG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		// End Google Tag Manager (noscript)
		// Facebook Pixel Code 

		<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '654552015113408'); fbq('track', 'PageView');</script><noscript><img height="1" width="1"src="https://www.facebook.com/tr?id=654552015113408&ev=PageView&noscript=1"/></noscript>

		// End Facebook Pixel Code 
		// START SVG SPRITE
		
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		//- .preloader
			<svg class="screen6__letter squiggle-animated" width="355" height="358" viewBox="0 0 355 358" fill="none" xmlns="http://www.w3.org/2000/svg" >
				<path class="preload-letter-path" d="M219 -2.95639e-05L354.5 356.5H272.5L244.5 277H112L83 356.5H3L138.5 -2.95639e-05H219ZM225.5 220L178.5 87.5L131 220H225.5Z" fill="#434549"/>
				//- <path d="M163.5 220H225.5L203.5 158" stroke="#F7F7F7" stroke-width="0"/>
				<path d="M244.5 277H112L83 356.5H3L90.5 127" stroke="transparent" stroke-width="3"/>
			</svg>
		// END LOADER
		// START HEADER
		include ../includes/preloader.pug
		block header
		include ../includes/header.pug
		include ../includes/menu.pug
		// END HEADER
		.page__inner(id=pageName).main-scroller.main-scroller1
			.page__content
				<svg class="fixed-background-heart" viewBox="0 0 1360 750" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M998.175 200.326L998.177 200.33C1011.88 224.978 1019.5 253.42 1019.5 284.144C1019.5 308.799 1014.55 331.933 1005.41 353.17L1005.41 353.172C995.913 375.494 981.486 395.558 964.017 412.228C963.923 412.25 963.838 412.286 963.761 412.332C963.64 412.405 963.551 412.497 963.509 412.538C963.487 412.561 963.472 412.574 963.464 412.582H963.304L963.167 412.692L937.581 433.231L937.56 433.248L937.541 433.267L936.793 434.012L905.876 459.862L905.872 459.865L903.199 462.147L903.184 462.16L903.171 462.173L902.424 462.917L883.349 478.495L883.346 478.498L837.138 516.912L837.137 516.913L799.331 548.101L799.331 548.101L684.382 643.188L684.381 643.189C682.275 644.937 678.725 644.937 676.619 643.189L639.194 612.001L639.193 612L457.413 461.762L457.413 461.762L421.134 431.715L421.131 431.712L397.836 412.695L397.698 412.582H397.536C397.528 412.574 397.513 412.561 397.491 412.538C397.449 412.497 397.36 412.405 397.239 412.332C397.164 412.287 397.081 412.252 396.99 412.23C395.514 410.754 394.124 409.278 392.728 407.795L392.726 407.793C391.295 406.273 389.859 404.746 388.325 403.219L387.943 402.839C386.413 401.315 384.917 399.823 383.797 398.339C383.402 397.75 382.914 397.167 382.447 396.609L382.437 396.597C381.955 396.022 381.496 395.472 381.132 394.928L381.104 394.887L381.069 394.852C380.921 394.704 380.76 394.467 380.559 394.167L380.542 394.142C380.371 393.886 380.167 393.581 379.95 393.357L378.252 391.102L376.616 388.929C376.594 388.821 376.555 388.724 376.502 388.637C376.434 388.523 376.347 388.437 376.303 388.393L376.296 388.386C376.274 388.364 376.26 388.35 376.252 388.341V388.241L376.199 388.135C375.43 386.604 374.291 385.082 373.179 383.604C373.157 383.496 373.118 383.399 373.065 383.312C372.997 383.198 372.91 383.112 372.866 383.068L372.859 383.061C372.837 383.039 372.823 383.025 372.815 383.016V382.877L372.724 382.747C370.057 378.953 356.729 358.086 351.788 342.189L351.786 342.182L351.784 342.174C347.971 331.163 344.927 320.168 343.405 308.422L343.403 308.405L343.4 308.388C343.214 307.465 343.121 306.539 343.025 305.584L343.024 305.573C342.93 304.635 342.833 303.67 342.64 302.701C341.88 296.643 341.5 290.204 341.5 283.764C341.5 273.149 342.642 262.531 344.547 252.286L344.547 252.286L344.548 252.277C344.739 251.141 344.929 250.098 345.12 249.052L345.12 249.05C345.31 248.01 345.501 246.966 345.691 245.827C349.12 231.034 354.07 216.629 360.917 203.366L363.777 198.239L366.637 193.111C367.202 192.175 367.767 191.331 368.339 190.476L368.342 190.472C368.91 189.622 369.486 188.762 370.063 187.805C379.586 173.77 390.628 160.879 403.566 149.887C404.468 149.167 405.286 148.448 406.05 147.777C406.101 147.732 406.153 147.687 406.204 147.642C407.017 146.927 407.766 146.274 408.512 145.718L408.519 145.712L408.525 145.707C439.755 120.673 479.743 105.5 523.543 105.5C561.628 105.5 597.045 116.878 626.367 136.599C628.458 138.114 630.551 139.724 632.65 141.339L632.655 141.343C634.745 142.952 636.842 144.565 638.939 146.085L680.162 183.869L680.585 184.256L680.911 183.784C713.653 136.387 774.595 105.5 837.457 105.5C907.154 105.5 967.709 144.191 998.175 200.326Z" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="0.5" y1="-2.18557e-08" x2="0.500033" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical" x1="340.5" y1="-2.18557e-08" x2="340.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical" x1="680.5" y1="-2.18557e-08" x2="680.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical" x1="1020.5" y1="-2.18557e-08" x2="1020.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal" x1="1360" y1="0.5" y2="0.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal" x1="1360" y1="375.5" y2="375.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal" x1="1360" y1="749.5" y2="749.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				</svg>
				block content
			.page__footer-wrapper
				// START FOOTER
				block footer
				include ../includes/footer.pug
				// END FOOTER
			
		block scripts