include ../includes/mixins.pug
block variable

doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		<link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		// Google Tag Manager
		// End Google Tag Manager
		
		block meta
		block head
			

	body
		// START SVG SPRITE
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		//Скрипты для всего сайта: index.js, forms-handler.js, libs.js 
		//
		//- .preloader
			<svg class="screen6__letter squiggle-animated" width="355" height="358" viewBox="0 0 355 358" fill="none" xmlns="http://www.w3.org/2000/svg" >
				<path class="preload-letter-path" d="M219 -2.95639e-05L354.5 356.5H272.5L244.5 277H112L83 356.5H3L138.5 -2.95639e-05H219ZM225.5 220L178.5 87.5L131 220H225.5Z" fill="#434549"/>
				//- <path d="M163.5 220H225.5L203.5 158" stroke="#F7F7F7" stroke-width="0"/>
				<path d="M244.5 277H112L83 356.5H3L90.5 127" stroke="transparent" stroke-width="3"/>
			</svg>
		// END LOADER
		// START HEADER
		include ../includes/preloader.pug
		block header
		include ../includes/header.pug
		include ../includes/menu.pug
		// END HEADER
		.page__inner(id=pageName).main-scroller.main-scroller1
			.page__content
				<svg preserveAspectRatio="xMidYMid slice" class="fixed-background-heart" viewBox="0 0 1360 750" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M998.175 200.326L998.177 200.33C1011.88 224.978 1019.5 253.42 1019.5 284.144C1019.5 308.799 1014.55 331.933 1005.41 353.17L1005.41 353.172C995.913 375.494 981.486 395.558 964.017 412.228C963.923 412.25 963.838 412.286 963.761 412.332C963.64 412.405 963.551 412.497 963.509 412.538C963.487 412.561 963.472 412.574 963.464 412.582H963.304L963.167 412.692L937.581 433.231L937.56 433.248L937.541 433.267L936.793 434.012L905.876 459.862L905.872 459.865L903.199 462.147L903.184 462.16L903.171 462.173L902.424 462.917L883.349 478.495L883.346 478.498L837.138 516.912L837.137 516.913L799.331 548.101L799.331 548.101L684.382 643.188L684.381 643.189C682.275 644.937 678.725 644.937 676.619 643.189L639.194 612.001L639.193 612L457.413 461.762L457.413 461.762L421.134 431.715L421.131 431.712L397.836 412.695L397.698 412.582H397.536C397.528 412.574 397.513 412.561 397.491 412.538C397.449 412.497 397.36 412.405 397.239 412.332C397.164 412.287 397.081 412.252 396.99 412.23C395.514 410.754 394.124 409.278 392.728 407.795L392.726 407.793C391.295 406.273 389.859 404.746 388.325 403.219L387.943 402.839C386.413 401.315 384.917 399.823 383.797 398.339C383.402 397.75 382.914 397.167 382.447 396.609L382.437 396.597C381.955 396.022 381.496 395.472 381.132 394.928L381.104 394.887L381.069 394.852C380.921 394.704 380.76 394.467 380.559 394.167L380.542 394.142C380.371 393.886 380.167 393.581 379.95 393.357L378.252 391.102L376.616 388.929C376.594 388.821 376.555 388.724 376.502 388.637C376.434 388.523 376.347 388.437 376.303 388.393L376.296 388.386C376.274 388.364 376.26 388.35 376.252 388.341V388.241L376.199 388.135C375.43 386.604 374.291 385.082 373.179 383.604C373.157 383.496 373.118 383.399 373.065 383.312C372.997 383.198 372.91 383.112 372.866 383.068L372.859 383.061C372.837 383.039 372.823 383.025 372.815 383.016V382.877L372.724 382.747C370.057 378.953 356.729 358.086 351.788 342.189L351.786 342.182L351.784 342.174C347.971 331.163 344.927 320.168 343.405 308.422L343.403 308.405L343.4 308.388C343.214 307.465 343.121 306.539 343.025 305.584L343.024 305.573C342.93 304.635 342.833 303.67 342.64 302.701C341.88 296.643 341.5 290.204 341.5 283.764C341.5 273.149 342.642 262.531 344.547 252.286L344.547 252.286L344.548 252.277C344.739 251.141 344.929 250.098 345.12 249.052L345.12 249.05C345.31 248.01 345.501 246.966 345.691 245.827C349.12 231.034 354.07 216.629 360.917 203.366L363.777 198.239L366.637 193.111C367.202 192.175 367.767 191.331 368.339 190.476L368.342 190.472C368.91 189.622 369.486 188.762 370.063 187.805C379.586 173.77 390.628 160.879 403.566 149.887C404.468 149.167 405.286 148.448 406.05 147.777C406.101 147.732 406.153 147.687 406.204 147.642C407.017 146.927 407.766 146.274 408.512 145.718L408.519 145.712L408.525 145.707C439.755 120.673 479.743 105.5 523.543 105.5C561.628 105.5 597.045 116.878 626.367 136.599C628.458 138.114 630.551 139.724 632.65 141.339L632.655 141.343C634.745 142.952 636.842 144.565 638.939 146.085L680.162 183.869L680.585 184.256L680.911 183.784C713.653 136.387 774.595 105.5 837.457 105.5C907.154 105.5 967.709 144.191 998.175 200.326Z" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="0.5" y1="-2.18557e-08" x2="0.500033" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical left" x1="340.5" y1="-2.18557e-08" x2="340.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical center" x1="680.5" y1="-2.18557e-08" x2="680.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-vertical right" x1="1020.5" y1="-2.18557e-08" x2="1020.5" y2="749" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal top" x1="1360" y1="0.5" y2="0.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal center" x1="1360" y1="375.5" y2="375.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line class="heart-horizontal bottom" x1="1360" y1="749.5" y2="749.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				</svg>
				<svg preserveAspectRatio="xMinYMin slice"  class="fixed-background-heart-tablet" viewBox="0 0 768 954" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M702.175 302.326L702.177 302.33C715.883 326.978 723.5 355.42 723.5 386.144C723.5 410.799 718.549 433.933 709.411 455.17L709.41 455.172C699.913 477.494 685.486 497.558 668.017 514.228C667.923 514.25 667.838 514.286 667.761 514.332C667.64 514.405 667.551 514.497 667.509 514.538C667.487 514.561 667.472 514.574 667.464 514.582H667.304L667.167 514.692L641.581 535.231L641.56 535.248L641.541 535.267L640.793 536.012L609.876 561.862L609.872 561.865L607.199 564.147L607.184 564.16L607.171 564.173L606.424 564.917L587.349 580.495L587.346 580.498L541.138 618.912L541.137 618.913L503.331 650.101L503.331 650.101L388.382 745.188L388.381 745.189C386.275 746.937 382.725 746.937 380.619 745.189L343.194 714.001L343.193 714L161.413 563.762L161.413 563.762L125.134 533.715L125.131 533.712L101.836 514.695L101.698 514.582H101.536C101.528 514.574 101.513 514.561 101.491 514.538C101.449 514.497 101.36 514.405 101.239 514.332C101.164 514.287 101.081 514.252 100.99 514.23C99.5137 512.754 98.1239 511.278 96.7282 509.795L96.7258 509.793C95.2953 508.273 93.8586 506.746 92.3253 505.219L91.9434 504.839C90.413 503.315 88.9166 501.823 87.7974 500.339C87.402 499.75 86.9139 499.167 86.4465 498.609L86.4366 498.597C85.9553 498.022 85.4963 497.472 85.132 496.928L85.1045 496.887L85.0694 496.852C84.9212 496.704 84.7597 496.467 84.5592 496.167L84.5424 496.142C84.3713 495.886 84.167 495.581 83.9504 495.357L82.2518 493.102L80.6155 490.929C80.5941 490.821 80.5549 490.724 80.5025 490.637C80.434 490.523 80.3475 490.437 80.3033 490.393L80.2957 490.386C80.2737 490.364 80.2602 490.35 80.252 490.341V490.241L80.1988 490.135C79.4298 488.604 78.2914 487.082 77.1785 485.604C77.1571 485.496 77.1179 485.399 77.0655 485.312C76.997 485.198 76.9104 485.112 76.8663 485.068L76.8588 485.061C76.8367 485.039 76.8232 485.025 76.815 485.016V484.877L76.724 484.747C74.0573 480.953 60.729 460.086 55.7885 444.189L55.7861 444.182L55.7835 444.174C51.9713 433.163 48.927 422.168 47.4053 410.422L47.4031 410.405L47.3997 410.388C47.2143 409.465 47.1209 408.539 47.0251 407.584L47.0239 407.573C46.9298 406.635 46.8329 405.67 46.6395 404.701C45.88 398.643 45.5 392.204 45.5 385.764C45.5 375.149 46.6419 364.531 48.5467 354.286L48.5468 354.286L48.5483 354.277C48.7385 353.141 48.9288 352.098 49.1198 351.052L49.1201 351.05C49.31 350.01 49.5007 348.966 49.6914 347.827C53.12 333.034 58.0696 318.629 64.917 305.366L67.7772 300.239L70.6373 295.111C71.2017 294.175 71.7666 293.331 72.3387 292.476L72.3416 292.472C72.9105 291.622 73.4864 290.762 74.063 289.805C83.5863 275.77 94.6276 262.879 107.566 251.887C108.468 251.167 109.286 250.448 110.05 249.777C110.101 249.732 110.153 249.687 110.204 249.642C111.017 248.927 111.766 248.274 112.512 247.718L112.519 247.712L112.525 247.707C143.755 222.673 183.743 207.5 227.543 207.5C265.628 207.5 301.045 218.878 330.367 238.599C332.458 240.114 334.551 241.724 336.65 243.339L336.655 243.343C338.745 244.952 340.842 246.565 342.939 248.085L384.162 285.869L384.585 286.256L384.911 285.784C417.653 238.387 478.595 207.5 541.457 207.5C611.154 207.5 671.709 246.191 702.175 302.326Z" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="0.5" y1="-1.98131e-08" x2="0.500046" y2="953" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="192.5" y1="-1.98131e-08" x2="192.5" y2="953" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="384.5" y1="-1.98131e-08" x2="384.5" y2="953" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="576.5" y1="-1.98131e-08" x2="576.5" y2="953" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="767.5" y1="-1.98131e-08" x2="767.5" y2="953" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="767" y1="0.5" x2="1" y2="0.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="767" y1="477.5" x2="1" y2="477.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="767" y1="953.5" x2="1" y2="953.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				</svg>
				<svg preserveAspectRatio="xMidYMid slice"  class="fixed-background-heart-mobile" viewBox="0 0 320 454" fill="none" xmlns="http://www.w3.org/2000/svg">
				<line x1="0.5" y1="-2.18557e-08" x2="0.50002" y2="454" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="159.5" y1="-2.18557e-08" x2="159.5" y2="454" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="319.5" y1="-2.18557e-08" x2="319.5" y2="454" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="320" y1="453.5" x2="-4.37114e-08" y2="453.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="320" y1="226.5" x2="-4.37114e-08" y2="226.5" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<line x1="320" y1="0.5" x2="-4.37114e-08" y2="0.499972" stroke="#BCBCBC" stroke-opacity="0.4"/>
				<path d="M273.844 35.4003L273.847 35.4047C278.765 44.2113 281.5 54.3755 281.5 65.3592C281.5 74.1724 279.723 82.4402 276.443 90.03L276.442 90.0319C273.043 97.9859 267.883 105.141 261.631 111.093C261.601 111.105 261.572 111.12 261.544 111.136C261.52 111.151 261.498 111.166 261.478 111.181H261.431L261.294 111.291L252.062 118.67L252.041 118.686L252.022 118.705L251.762 118.963L240.617 128.241L240.613 128.244L239.649 129.064L239.634 129.077L239.62 129.09L239.362 129.346L232.492 134.933L232.488 134.936L215.816 148.735L215.815 148.737L202.175 159.94L202.174 159.941L160.698 194.102L160.697 194.102C160.055 194.633 158.945 194.633 158.303 194.102L144.8 182.898L144.798 182.897L79.2079 128.923L79.2075 128.922L66.1173 118.128L66.1146 118.126L57.7091 111.293L57.5713 111.181H57.5217C57.5021 111.166 57.4799 111.151 57.4556 111.136C57.4302 111.121 57.4038 111.108 57.3763 111.096C56.8666 110.587 56.3845 110.077 55.8968 109.562L55.8943 109.559C55.3791 109.014 54.8578 108.463 54.3009 107.91L54.1631 107.774C53.6091 107.224 53.0889 106.707 52.702 106.198C52.5507 105.975 52.3677 105.757 52.2045 105.563L52.1958 105.552C52.0196 105.343 51.8657 105.159 51.7457 104.98L51.718 104.939L51.6828 104.904C51.6568 104.878 51.6174 104.824 51.539 104.707L51.5281 104.691C51.4736 104.609 51.3915 104.487 51.2981 104.387L50.696 103.591L50.1422 102.859C50.127 102.814 50.1072 102.772 50.0834 102.733C50.0641 102.701 50.0429 102.673 50.0235 102.649L49.9858 102.574C49.7022 102.012 49.2899 101.459 48.9021 100.946C48.8869 100.901 48.867 100.859 48.8433 100.82C48.8291 100.797 48.8139 100.775 48.7992 100.756V100.728L48.7077 100.598C47.7496 99.241 42.9648 91.778 41.1978 86.1167L41.1954 86.1091L41.1927 86.1015C39.8215 82.1581 38.7301 78.2305 38.1848 74.0399L38.1825 74.0226L38.1791 74.0056C38.1159 73.6921 38.0835 73.3749 38.0487 73.0294L38.0476 73.0189C38.0144 72.6897 37.9785 72.334 37.9072 71.9744C37.6359 69.8157 37.5 67.52 37.5 65.2226C37.5 61.432 37.9096 57.637 38.5939 53.9729L38.5939 53.9729L38.5954 53.964C38.6636 53.5583 38.7319 53.186 38.8009 52.8098L38.8011 52.8085C38.869 52.4382 38.9376 52.0641 39.0062 51.6565C40.238 46.3682 42.0142 41.2241 44.4677 36.4914L45.4972 34.6538L46.5266 32.8164C46.7248 32.4894 46.9236 32.1935 47.1295 31.8872L47.1322 31.8832C47.335 31.5815 47.5449 31.2693 47.7554 30.9222C51.1762 25.9035 55.1387 21.2988 59.7776 17.3741C60.108 17.1116 60.4072 16.8497 60.6808 16.6102C60.6997 16.5936 60.7185 16.5772 60.7372 16.5608C61.0319 16.303 61.2931 16.0768 61.5504 15.8854L61.5572 15.8803L61.5639 15.875C72.7773 6.92504 87.1365 1.5 102.866 1.5C116.542 1.5 129.258 5.56733 139.785 12.6154C140.534 13.1556 141.284 13.73 142.04 14.3097L142.044 14.3121C142.792 14.8853 143.546 15.4637 144.302 16.0095L159.163 29.5712L159.585 29.9564L159.911 29.4869C171.66 12.5524 193.547 1.5 216.134 1.5C241.163 1.5 262.906 15.3342 273.844 35.4003ZM57.615 111.265C57.617 111.267 57.6178 111.267 57.617 111.267C57.6167 111.266 57.616 111.266 57.615 111.265Z" stroke="#BCBCBC" stroke-opacity="0.4"/>
				</svg>




				block content
			.page__footer-wrapper
				// START FOOTER
				block footer
				include ../includes/footer.pug
				// END FOOTER
			
		block scripts