#choose-flat {
    .page__content {
        position: relative;
    }
    @include to(575px) {
        .breadcrumbs-block {
            white-space: nowrap;
            flex-wrap: nowrap;
            margin-bottom: 20px;
        }
        .breadcrumbs-block__item-current {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            max-inline-size: 100%;
        }
    }
}

.choose-flat-icon-arrow {
    transform: scaleX(-1);
}

.icon--compass {
    width: 50px;
    height: 63px;
}

.choose-flat-top-links {
    .button-std {
        width: 176px;
    }
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    @include from-to(769px, 900px) {
        margin-bottom: 45px;
    }
    @include to(575px) {
        margin-top: 20px;
        .button-std {
            padding-left: 0;
            width: calc(50% - 4px);
        }
        .button-std__icon {
            display: none;
        }
    }
}

.icon--choose-flat-heart {
    width: 25px;
    height: 20px;
}

.icon--choose-flat-heart.violet2 {
    fill: var(--violet2);
}

.icon--choose-flat-heart.yellow {
    fill: var(--yellow);
}

.icon--choose-flat-heart.blue {
    fill: var(--blue);
}

.icon--choose-flat-heart.green {
    fill: var(--green);
}

.choose-flat-center,
.choose-flat-left {
    display: inline-block;
    vertical-align: top;
}

.choose-flat-left {
    @include size(2);
    .genplan {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .icon--compass {
        margin-bottom: 40px;
    }
    .mini-genplan-title {
        margin-bottom: 7px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    @include to(900px) {
        @include size(3);
    }
    @include from-to(576px, 768px) {
        height: calc(100vh - 270px - var(--header-height));
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        .mini-genplan-title {
            margin-top: auto;
        }
        .icon--compass {
            margin-bottom: 0;
            margin-top: auto;
        }
        .flat-description-wrapper {
            margin-bottom: 0;
            margin-top: auto;
        }
    }
    @include to(575px) {
        order: 1;
        width: 100%;
        margin-bottom: 25px;
        .flat-description-wrapper {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 0;
            li:not(:last-child) {
                margin-bottom: 0;
            }
            span {
                max-width: 2.4ch;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .mini-genplan-title {
            display: none;
        }
        .choose-build-genplan-wrapper {
            /*26px - маржин елемента*/
            width: calc(100% - 50px - 26px);
            margin-left: auto;
        }
        display: inline-flex;
        flex-wrap: wrap;
    }
}

.choose-flat-center {
    @include size(7);
    @include shift-left(0.5);
    margin-right: auto;
    #floor {
        max-height: 500px;
    }
    @include from-to(576px, 768px) {
        height: calc(100vh - 270px - var(--header-height));
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        #floor {
            margin: auto;
        }
    }
    @include to(575px) {
        order: 1;
        width: 100%;
        margin: 25px 0;
        #floor {
            max-height: 250px;
        }
    }
}

.flat-description-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    svg {
        margin-right: 14px;
    }
    li {
        display: flex;
        align-items: center;
    }
    li:not(:last-child) {
        margin-bottom: 16px;
    }
}

#floor polygon {
    opacity: 0.8;
    transition: .5s ease-out;
}

[data-flats="4"] polygon {
    fill: var(--blue);
}

[data-flats="3"] polygon {
    fill: var(--yellow);
}

[data-flats="2"] polygon {
    fill: var(--green);
}

[data-flats="1"] polygon {
    fill: var(--violet1);
}

@include from(769px) {
    #floor polygon:hover {
        opacity: 1;
    }
}

.choose-flat-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
    @include to(768px) {
        width: 191px;
        height: auto
    }
    @include to(575px) {
        display: none;
    }
}

.choose-flat-popup {
    display: flex;
    flex-direction: column;
    img {
        width: 72px;
        height: 56px;
        margin: 0 auto;
    }
    width: 278px;
    height: 278px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 3%;
    font-weight: 500;
    @include fontSizeLhToEm(18, 29);
    color: #343466;
    text-align: center;
    &__row {
        white-space: nowrap;
    }
    &__row-title:after {
        content: ' ';
    }
    @include to(768px) {
        justify-content: center;
    }
    @include to(575px) {
        width: 175px;
        height: 175px;
        font-size: 12px;
    }
}

.floor-switcher {
    display: flex;
    position: relative;
    width: max-content;
    margin: 0 auto;
    .current {
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        margin: 0 30px;
    }
    .prev,
    .next {
        width: 16px;
        height: 24px;
        display: inline-block;
    }
    .next {
        transform: scaleY(-1);
    }
    svg {
        width: 100%;
        height: 100%;
    }
    &__popup {
        position: absolute;
        background-color: var(--green);
        bottom: calc(100% + 13px);
        transform: translateX(-50%);
        left: 0;
        border-radius: 30px;
        padding: 7px;
        display: flex;
        transition: .5s;
        opacity: 0;
    }
    &__popup:after {
        content: '';
        border: 4px solid transparent;
        border-top: 4px solid var(--green);
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
    }
    &__popup a {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        color: var(--white);
        transition: .5s ease-in;
    }
    &__popup a:not(:last-child) {
        margin-right: 15px;
    }
    @include from(769px) {
        &__popup a:hover {
            background-color: var(--yellow);
            color: #343466;
        }
    }
    @include to(575px) {
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }
}

.tablet-birdy {
    @include to(575px) {
        width: 25px !important;
        height: 25px !important;
    }
}