#contacts {
    .page__content {
        display: flex;
        flex-direction: column;
    }
    .heart-mask-video-block-wrapper {
        overflow: hidden;
    }
    @include to(1024px) {
        .fixed-background-heart {
            display: none;
        }
    }
}

.contact-group {
    margin-top: 20px;
    &__title {
        color: var(--yellow);
        text-transform: uppercase;
    }
    &__text {
        color: var(--white);
    }
    @include to(768px) {
        width: 33%;
    }
    @include to(575px) {
        width: 50%;
    }
}

.heart-mask-video-block {
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        object-fit: cover;
    }
}

.icon--marker-in-circle {
    width: 43px;
    height: 43px;
    fill: transparent;
    stroke: var(--violet1);
    @include from(1720px) {
        width: 72px;
        height: 72px;
    }
}

.contact-heart-link {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--violet1);
    span {
        margin-top: 10px;
    }
}

.contact-form {
    background-color: var(--blue);
    font-weight: 500;
    color: var(--white);
    @include fontSizeLhToEm(14, 22);
    padding: 18px 30px 40px 30px;
    position: relative;
    legend {
        color: var(--yellow);
        font-weight: 500;
        margin-bottom: 10px;
        @include fontSizeLhToEm(24, 38);
    }
    button {
        border: none;
        font-family: $default-font;
        width: 176px;
    }
    input,
    textarea {
        background: transparent;
        border: none;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: var(--white);
    }
    input::placeholder,
    textarea::placeholder {
        color: var(--white);
    }
    textarea {
        resize: none;
        height: calc(1.6em * 3);
    }
    .icon--white-arrow {
        width: 16px;
        height: 10px;
    }
    .input-group {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .input-group svg {
        width: 12px;
        height: 12px;
        margin-right: 20px;
        align-self: center;
    }
    .input-group:last-of-type svg {
        align-self: flex-start;
        margin-top: 0.5em;
    }
    .input-group:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: white;
        left: 0;
        bottom: 0;
        transition: .5s;
    }
    .input-group.unfilled:after {
        background-color: red;
    }
    [type=submit]:disabled,
    [type=submit]:disabled .button-std__icon {
        background-color: var(--gray);
        pointer-events: none;
    }
    @include from(1720px) {
        width: 90%;
        margin-left: auto;
        padding: 40px 40px 53px 40px;
        legend {
            @include fontSizeLhToEm(36, 38);
            margin-bottom: 30px;
        }
        input,
        textarea {
            @include fontSizeLhToEm(18, 22);
        }
        .input-group {
            padding-bottom: 20px;
        }
        .input-group svg {
            width: 18px;
            height: 18px;
            margin-right: 20px;
            align-self: center;
        }
        textarea {
            resize: none;
            height: calc(1.6em * 2);
        }
        button {
            --icon-width: 40px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 210px;
        }
    }
    @include from-to(576px, 768px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 20px;
        padding: 0;
        overflow: hidden;
        row-gap: 10px;
        // grid-row-gap: 20px;
        legend {
            grid-area: 1/1/1/3;
            text-align: center;
        }
        .input-group:nth-of-type(1) {
            grid-area: 2/1/2/2;
            margin-right: 20px;
        }
        .input-group:nth-of-type(2) {
            grid-area: 3/1/3/2;
            margin-right: 20px;
        }
        .input-group:nth-of-type(3) {
            grid-area: 2/2/4/3;
        }
        button {
            grid-area: 4/1/4/3;
            margin: 0 auto;
        }
    }
    @include to(575px) {
        padding: 18px 18px 40px 18px;
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.contact-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include to(1024px) {
        flex-wrap: wrap;
    }
}

.contact-content-center {
    @include size(5);
    @include from(769px) {
        &:hover {
            .icon--marker-in-circle {
                transition: 1s;
                fill: var(--violet1);
            }
            .video-play-button svg,
            .video-play-button {
                stroke: var(--white) !important;
                color: var(--violet1);
            }
            img {
                transition: 7s;
                transform: scale(1.2);
            }
        }
    }
    @include to(1250px) {
        @include size(6);
    }
    @include to(1052px) {
        @include size(7);
    }
    @include to(1024px) {
        margin: 0 auto;
    }
    @include to(950px) {
        @include size(8);
    }
    @include to(768px) {
        @include size(10)
    }
    @include to(575px) {
        width: 100%;
    }
}

.contact-content-left,
.contact-content-right {
    @include size(3);
}

.contact-content-right {
    @include from(1720px) {}
    @include to(1024px) {
        @include size(6);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    @include to(768px) {
        @include size(10.5);
    }
    @include from-to(576px, 768px) {
        @include shift-padding(1);
        padding-top: 20px;
        margin-top: 30px;
        padding-bottom: 20px;
        background-color: var(--blue);
    }
    @include to(575px) {
        width: 100%;
    }
}

.contact-content-left {
    @include to(1052px) {
        @include size(2.5);
    }
    @include to(768px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
}

.contact-patterns-wrapper {
    display: flex;
    width: 100%;
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
    @include to(768px) {
        svg {
            width: 186px;
            height: auto;
        }
    }
    @include to(575px) {
        display: none;
    }
}