#documentation {
    .page__content {
        padding-bottom: 68px;
    }
}

.document-single {
    // font-weight: 500;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    display: inline-block;
    @include size(3);
    text-align: center;
    color: var(--white);
    vertical-align: top;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    img {
        @include shift-padding(3.5);
        margin-bottom: 45px;
    }
    @include to(1024px) {
        @include size(4);
        img {
            @include shift-padding(2);
        }
    }
    @include to(768px) {
        @include size(4);
        img {
            @include shift-padding(1.5);
        }
        &__name {
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
        }
    }
    @include to(575px) {
        @include size(6);
        img {
            @include shift-padding(1);
        }
        &__name {
            font-size: 14px;
            line-height: 20px;
        }
    }
}