#front-page-first-screen-links,
#advantages,
#menu-infra-pages {
    --breadcrumbs-marginT: 30px;
    --breadcrumbs-height: 22px;
    .breadcrumbs-block {
        margin-top: var(--breadcrumbs-marginT);
        height: var(--breadcrumbs-height);
        position: relative;
        z-index: 2;
    }
    .front-block img {
        opacity: 0;
    }
}

.page-screen {
    width: calc(100% + var(--side-fields) * 2);
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    min-height: 100vh;
    @include from(576px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
    }
}

.page-sngl-block {
    --text-block-height: 100px;
    font-weight: 500;
    // font-size: 18px;
    // line-height: 1.6em;
    @include fontSizeLhToEm(18, 29);
    overflow: hidden;
    &.text-black {
        color: #000000;
    }
    &.text-white {
        color: var(--white);
    }
    &.bg-yellow &__text-block {
        background-color: rgba(255, 218, 5, 0.8);
    }
    &.bg-blue &__text-block {
        background-color: rgba(23, 152, 213, 0.8);
    }
    &.bg-green &__text-block {
        background-color: rgba(175, 190, 45, 0.8);
    }
    &.bg-violet1 &__text-block {
        background-color: rgba(131, 82, 155, 0.8);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    // v=1
    // &__text-block {
    //     position: relative;
    //     z-index: 2;
    //     display: flex;
    //     margin-top: calc(var(--text-block-height) - (var(--text-block-height) * 2));
    // }
    // v=1.2
    position: relative;
    &__text-block {
        position: absolute;
        z-index: 2;
        display: flex;
        margin-top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &__text-block-text {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__text-block.three-rows {
        margin-top: calc(var(--text-block-height) - (var(--text-block-height) * 2 + 1.6em));
    }
    &__text-block.three-rows &__text-block-text {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__text-block-icon {
        width: var(--text-block-height);
        min-height: var(--text-block-height);
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 29px;
        color: var(--violet1);
    }
    &__text-block-icon svg {
        max-width: 50%;
        max-height: 50px;
    }
    &__text-block-text {
        width: calc(100% - var(--text-block-height));
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 15%;
    }
    &.plain-block-no-bg {
        background-color: var(--green);
    }
    &.plain-block-no-bg &__text-block {
        height: 100%;
        margin-top: 0%;
        background-color: transparent;
    }
    &.plain-block-no-bg &__text-block-icon {
        display: none;
    }
    &.plain-block-no-bg &__text-block-text {
        background-color: transparent;
        width: 100%;
    }
    @include to(1180px) {
        &__text-block-text {
            padding-right: var(--side-fields);
        }
        &__text-block.three-rows {
            margin-top: calc(var(--text-block-height) - (var(--text-block-height) * 2 + 3.2em));
        }
        &__text-block.three-rows &__text-block-text {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@include from(576px) {
    .for-work1 .page-sngl-block:nth-child(1),
    .for-leisure1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-work2 .page-sngl-block {
        grid-row-end: 3;
        grid-row-start: 1;
    }
    .for-leisure2 .page-sngl-block:nth-child(2) {
        grid-area: 1/2/3/2;
    }
    .for-leisure3 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/3;
    }
    .for-dreaming1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-dreaming2 .page-sngl-block:nth-child(2) {
        grid-area: 1/2/3/3;
    }
    .adv-screen1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .adv-screen2 .page-sngl-block:nth-child(2) {
        grid-area: 1/2/3/3;
    }
    .adv-screen3 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .adv-screen4 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/3;
    }
    .seafront-screen1 .page-sngl-block:nth-child(3) {
        grid-area: 1/2/3/3;
    }
    .seafront-screen2 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .seafront-screen3 .page-sngl-block:nth-child(2) {
        grid-area: 2/2/3/1;
    }
    .seafront-screen3 .page-sngl-block:nth-child(3) {
        grid-area: 1/2/3/3;
    }
    .seafront-screen4 .page-sngl-block {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .boulevard-screen1 .page-sngl-block:nth-child(3) {
        grid-area: 1/2/3/3;
    }
    .boulevard-screen2 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-life-screen1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-life-screen2 .page-sngl-block:nth-child(3) {
        grid-area: 1/2/3/3;
    }
    .for-life-screen3 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/3;
    }
    .for-work-screen1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-work-screen2 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/3;
    }
    .for-sport-screen1 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/1;
    }
    .for-sport-screen2 .page-sngl-block:nth-child(3) {
        grid-area: 1/2/3/3;
    }
    .for-sport-screen3 .page-sngl-block:nth-child(1) {
        grid-area: 1/1/3/3;
    }
}