#gallery {
    /*хедер + высота заголовка + высота хлебных крошек*/
    --slider-negative-offset: calc(var(--header-height) + 26px + 98px);
    .page-title,
    .breadcrumbs-block {
        position: relative;
        z-index: 1;
    }
    .gallery-slider {
        width: calc(100% + var(--side-fields) * 2);
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
        margin-top: calc(var(--slider-negative-offset) - (var(--slider-negative-offset) * 2));
    }
}

.gallery-slider {
    position: relative;
    z-index: 0;
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
    &:after {
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
    }
}

.gallery-nav {
    position: relative;
    padding: 0 calc(24px + 15px);
    width: calc((40px * 2) + (130px * 5));
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: -100px;
    .nav-slide {
        width: 100px;
        height: 80px;
    }
    .gallery-arrows {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        display: flex;
        justify-content: space-between;
    }
    .nav-slide {
        margin: 0 15px;
        cursor: pointer;
    }
    .nav-slide {
        opacity: 0.5;
        transition: .7s;
    }
    .slick-current {
        opacity: 1;
    }
    @include from(769px) {
        .nav-slide:hover {
            opacity: 1;
        }
    }
    @include to(960px) {
        width: calc((40px * 2) + (130px * 3));
    }
    @include to(768px) {
        width: 100%;
        margin-top: -130px;
    }
    @include to(575px) {
        width: calc((20px * 2) + (130px * 2));
        width: calc(100vw - 30px);
    }
}

.gallery-arrows {
    pointer-events: none;
    .next,
    .prev {
        pointer-events: auto;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .next svg,
    .prev svg {
        width: 24px;
        height: 16px;
    }
    .prev {
        transform: scaleX(-1);
    }
}