#location {
    .breadcrumbs-block {
        margin-bottom: 40px;
    }
    .front-screen-text {
        @include size(4);
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
    }
    .legend-wrapper {
        width: auto;
    }
    .legend-wrapper .legend {
        column-count: 1;
        padding-right: 45px;
    }
    .legend-wrapper .legend li {
        transition: .7s ease-out;
        cursor: pointer;
    }
    .legend-wrapper .legend li.active .text {
        color: var(--blue);
    }
    .legend-wrapper .legend li.active {
        transform: translateX(10%);
    }
    .legend-wrapper .legend li.active path[stroke] {
        stroke: var(--blue) !important;
    }
    .legend-wrapper .legend li.active path[fill] {
        fill: var(--blue) !important;
    }
    @include from(769px) {
        .legend-wrapper .legend li:hover .text {
            color: var(--blue);
        }
        .legend-wrapper .legend li:hover {
            transform: translateX(10%);
        }
        .legend-wrapper .legend li:hover path[stroke] {
            stroke: var(--blue) !important;
        }
        .legend-wrapper .legend li:hover path[fill] {
            fill: var(--blue) !important;
        }
        .text-large {
            line-height: 1.3em;
        }
    }
    @include to(768px) {
        .front-screen-text {
            margin-left: 20px;
            vertical-align: top;
        }
        .legend-title {
            display: flex;
        }
        .legend-wrapper {
            position: absolute;
            /*отступ от  3х блоков с расстояниями */
            bottom: calc(150px * 3);
            .legend {
                max-height: calc(32px * 10 + 50px);
                overflow-x: hidden;
                column-count: auto;
                overflow-y: scroll;
            }
        }
        .front-screen-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
        }
    }
    @include to(575px) {
        .legend-wrapper {
            position: absolute;
            /*отступ от  3х блоков с расстояниями */
            bottom: calc(100px * 5);
            .legend {
                max-height: calc(32px * 8 + 50px);
                overflow-x: hidden;
                column-count: auto;
                overflow-y: scroll;
            }
        }
        .front-screen-text {
            @include size(8);
            margin-bottom: 20px;
            // font-weight: 500;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.location-front-image,
.location-front-pattern {
    display: inline-block;
    vertical-align: middle;
    @include size(2);
    @include to(768px) {
        vertical-align: top;
    }
    @include to(575px) {
        @include size(4);
        margin-bottom: 20px;
    }
}

.map-wrapper {
    height: 100vh;
    width: calc(100% + (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    position: relative;
    margin-top: 90px;
    @include to(768px) {
        height: auto;
        margin-top: 37px;
    }
    @include to(575px) {
        margin-top: 0;
    }
}

.location-distances-list {
    @include size(3);
    margin-left: auto;
    position: relative;
    z-index: 1;
    li {
        // padding: 0 calc(var(--side-fields) + 4%) 0 28px;
        padding: 0 calc(var(--side-fields)) 0 28px;
        height: calc(100vh / 5);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    li.text-white {
        color: var(--white);
    }
    li.text-dark {
        color: var(--black);
    }
    li.bg-yellow {
        background-color: var(--yellow);
    }
    li.bg-green {
        background-color: var(--green);
    }
    li.bg-blue {
        background-color: var(--blue);
    }
    li.bg-violet1 {
        background-color: var(--violet1);
    }
    li.bg-brown {
        background-color: var(--brown);
    }
    li svg {
        margin-right: 30px;
        max-width: 40px;
    }
    .distance-text-block {
        width: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        span {
            width: 100%;
        }
    }
    @include to(1200px) {
        @include size(3.5)
    }
    @include to(1100px) {
        @include size(4);
        li {
            padding: 0 calc(var(--side-fields)) 0 28px;
        }
    }
    @include to(1024px) {
        li svg {
            margin-right: 10px;
        }
    }
    @include to(768px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
            height: 150px;
            svg {
                max-width: 50px;
                margin-right: 28px;
            }
        }
        li:not(:last-child) {
            width: 50%;
        }
        li:last-child {
            width: 100%;
            .distance-text-block {
                width: auto;
            }
        }
        .text-large {
            font-size: 24px;
            line-height: 38px;
        }
    }
    @include to(575px) {
        li:last-child,
        li:not(:last-child) {
            width: 100%;
            height: 100px;
        }
        .text-large {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    @include to(768px) {
        height: 50vh;
        position: static;
    }
    @include to(575px) {
        height: 80vh;
    }
}