#location {
    .breadcrumbs-block {
        margin-bottom: 40px;
    }
    .front-screen-text {
        @include size(4);
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
    }
    .legend-wrapper {
        width: auto;
    }
    .legend-wrapper .legend {
        column-count: 1;
        padding-right: 45px;
    }
    .legend-wrapper .legend li {
        transition: .7s ease-out;
        cursor: pointer;
    }
    .legend-wrapper .legend li.active .text {
        color: var(--blue);
    }
    .legend-wrapper .legend li.active {
        transform: translateX(10%);
    }
    .legend-wrapper .legend li.active path[stroke] {
        stroke: var(--blue) !important;
    }
    .legend-wrapper .legend li.active path[fill] {
        fill: var(--blue) !important;
    }
    @include from(769px) {
        .legend-wrapper .legend li:hover .text {
            color: var(--blue);
        }
        .legend-wrapper .legend li:hover {
            transform: translateX(10%);
        }
        .legend-wrapper .legend li:hover path[stroke] {
            stroke: var(--blue) !important;
        }
        .legend-wrapper .legend li:hover path[fill] {
            fill: var(--blue) !important;
        }
    }
}

.location-front-image,
.location-front-pattern {
    display: inline-block;
    vertical-align: middle;
    @include size(2);
}

.map-wrapper {
    height: 100vh;
    width: calc(100% + (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    position: relative;
    margin-top: 90px;
}

.location-distances-list {
    @include size(3);
    margin-left: auto;
    position: relative;
    z-index: 1;
    li {
        // padding: 0 calc(var(--side-fields) + 4%) 0 28px;
        padding: 0 calc(var(--side-fields)) 0 28px;
        height: calc(100vh / 5);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    li.text-white {
        color: var(--white);
    }
    li.text-dark {
        color: var(--black);
    }
    li.bg-yellow {
        background-color: var(--yellow);
    }
    li.bg-green {
        background-color: var(--green);
    }
    li.bg-blue {
        background-color: var(--blue);
    }
    li.bg-violet1 {
        background-color: var(--violet1);
    }
    li.bg-brown {
        background-color: var(--brown);
    }
    li svg {
        margin-right: 30px;
        max-width: 40px;
    }
    .distance-text-block {
        width: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        span {
            width: 100%;
        }
    }
    @include to(1200px) {
        @include size(3.5)
    }
    @include to(1100px) {
        @include size(4);
        li {
            padding: 0 calc(var(--side-fields)) 0 28px;
        }
    }
    @include to(1024px) {
        li svg {
            margin-right: 10px;
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}