nav.menu {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--blue);
    left: 0;
    top: 0;
    z-index: 51;
    padding: 35px var(--side-fields);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .menu__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        text-transform: uppercase;
        color: var(--white);
    }
    .menu__head-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        max-height: 48px;
        height: 36px;
    }
    &.closed {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        // animation-direction: reverse;
        animation: flip-out-hor-top .5s 1 ease-in-out;
        transition: opacity 0, visibility 1s;
    }
    &.opened {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        animation: fadeIn 1s 1 cubic-bezier(0, 0.3, 0, 0.98);
        transition: opacity 0s;
    }
    .lang-block,
    .button-std {
        border: 1px solid #26ABEA;
        font-size: 12px;
        line-height: 19px;
    }
    .button-std {
        max-width: 110px;
    }
    .menu__pattern-wheel {
        position: absolute;
        pointer-events: none;
        // position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
    }
    .menu__pattern-wheel path {
        animation: rotation 5s infinite linear;
        transform-origin: center;
    }
    .menu__pattern-bicycle {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .developers-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .developers-block a:not(:last-child) {
        margin-right: 20px;
    }
    @include from(769px) {
        .menu__title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .developers-block a:hover {
            transition: .7s ease-out;
            transform: scale(1.2);
        }
    }
    @include to(768px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @include to(575px) {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 10px;
        padding: 10px var(--side-fields) 10px var(--side-fields);
        // align-content: center;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 70px;
        &::-webkit-scrollbar {
            width: 1px;
        }
        .menu__title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
        }
        .menu__head-block {
            margin-bottom: 0;
            width: 100%;
        }
        .menu__head-block .button-std {
            overflow: visible;
            --icon-width: 30px;
        }
        .menu__head-block .button-std span {
            display: none;
        }
        .menu__head-block .button-std .button-std__icon {
            display: flex;
        }
        .menu__pattern-bicycle {
            position: relative;
            order: 2;
            left: 0;
            left: 61px;
            margin-top: 0px;
            z-index: -1;
            margin-left: 0;
            margin-right: auto;
        }
    }
}

.nav-menu {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 87px;
    width: 100%;
    --footer-links-color: #ffffff;
    &__group {
        width: 25%;
    }
    &__group .icon--wave-pattern {
        width: 104px;
        height: 61px;
    }
    &__group.first {
        display: flex;
        flex-direction: column;
    }
    &__group.first &__group-title:not(:last-child) {
        margin-bottom: 20px;
    }
    &__group.first &__group-title {
        color: #FFFFFF;
    }
    &__group-title {
        // font-weight: bold;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #B1D5FF;
        margin-bottom: 20px;
    }
    &__group-links {
        margin-top: 10px;
        font-size: 18px;
        line-height: 1em;
        color: var(--footer-links-color);
    }
    &__group-links li:not(:last-child) {
        margin-bottom: 10px;
    }
    &__group-links.non-uppercase {
        text-transform: none;
    }
    &__group-links-last {
        text-transform: none;
        line-height: 1.6em;
    }
    &__group-links a {
        color: inherit;
        transition: .5s;
        position: relative;
        padding-right: var(--side-fields);
    }
    &__group-links li {
        display: flex;
        flex-direction: column;
    }
    .button-std {
        margin-top: 10px;
    }
    .nav-menu__logo {
        max-width: 233px;
        max-height: 233px;
    }
    @include from(1720px) {
        &__group-title {
            font-size: 24px;
            line-height: 30px;
        }
        &__group-links {
            font-size: 18px;
            // line-height: 2em;
        }
    }
    @include from(769px) {
        &__group:nth-child(-n+4) {
            margin-bottom: 60px;
        }
        &__group-links a:hover {
            transition: .7s;
            color: var(--yellow);
        }
        &__group.first &__group-title:hover {
            color: var(--yellow);
        }
    }
    @media screen and (orientation:landscape) and (max-height:720px) and (min-width:769px) {
        margin-top: 0;
        margin-bottom: 0;
        &__group:nth-child(-n+4) {
            margin-bottom: 15px;
        }
        .developers-block {
            margin-top: -53px;
        }
        &__group:nth-child(5) {
            display: flex;
            align-items: center;
        }
    }
    @include to(768px) {
        margin-top: 60px;
        margin-bottom: 20px;
        &__group {
            @include size(4);
        }
        &__group-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2em;
        }
        &__group-links {
            font-size: 18px;
        }
        .mobile-hide {
            display: none;
        }
    }
    @include from-to(576px, 768px) {
        &__group {
            margin-bottom: 121px;
        }
    }
    @include to(575px) {
        margin-top: 36px;
        margin-bottom: 30px;
        .mobile-hide {
            display: none;
        }
        &__group {
            width: 50%;
        }
        &__group:nth-child(n+2) {
            margin-top: 0px;
            margin-bottom: 30px;
        }
        &__group-title {
            font-size: 14px;
            padding-right: var(--side-fields);
        }
        &__group-links {
            font-size: 14px;
        }
        &__group-links a:after {
            display: none;
        }
        &__group.first &__group-title:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

@keyframes tilt-in-top-2 {
    0% {
        -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}

@include to(575px) {
    body.menu-opened {
        height: 100vh;
        overflow: hidden;
    }
}

.menu-net {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    &__line {
        // border: 1px solid rgba(188, 188, 188, 0.4);
        background-color: rgba(188, 188, 188, 0.4);
    }
    &__heart {
        position: absolute;
        width: 50%;
        left: calc(25% + var(--side-fields) / 2);
        top: 10%;
        right: 25%;
        height: 80%;
        stroke-width: 1;
        width: calc(50% - var(--side-fields));
    }
    &__line.hor {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
    }
    &__line.vert {
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
    }
    .hor1 {
        top: 0;
    }
    .hor2 {
        top: calc(50% - 0.5px);
    }
    .hor3 {
        bottom: 0;
        left: 0;
    }
    .vert1 {
        left: 0;
    }
    .vert2 {
        left: calc(25% + var(--side-fields) / 2);
    }
    .vert3 {
        left: 50%;
    }
    .vert4 {
        left: calc(75% - var(--side-fields) / 2);
    }
    @include to(575px) {
        .vert2,
        .vert4,
        &__line.hor {
            display: none;
        }
        &__heart {
            width: 100%;
            left: 0;
            right: 0;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}