.layout {
    min-height: calc(100vh - 70px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include to(480px) {
        min-height: calc(100vh - 42px);
    }
}

* {
    --yellow: #FFDA05;
    --yellow-light: #FFEB78;
    --violet1: #83529B;
    --violet2: #9975B0;
    --green: #AFBE2D;
    --brown: #AE7F47;
    --blue: #1798D5;
    --blue-light: #26ABEA;
    --white: #ffffff;
    --gray: #40484E;
    --gray-light: #728596;
    --black: #3C3C3B;
    --side-padding: 30px;
    --title-size: 48px;
    --header-height: 60px;
    // cursor: url('../images/cursor.png'), auto;
    @include from(1720px) {
        --title-size: 64px;
        // --header-height: 85px;
        --header-height: 60px;
    }
    @include to(768px) {
        --side-padding: 22px;
        --title-size: 36px;
    }
    @include to(575px) {
        --side-padding: 14px;
        --title-size: 24px;
        --header-height: 40px;
    }
}

.page__content {
    min-height: 100vh;
    background-color: var(--violet1);
}

.page__inner:not(#home) .page__content:not(#home) {
    padding-top: var(--header-height);
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
}

.wrapper {
    position: relative;
}

.wave {
    position: absolute;
    // border-top: 2px solid red;
    height: 100%;
    width: 100%;
    pointer-events: none;
    // --side-padding: 30px;
    overflow: hidden;
    padding: var(--side-padding);
    .bottom-line {
        display: block;
        position: absolute;
        bottom: calc(var(--side-padding));
        right: var(--side-padding);
        width: calc(100% - 940px);
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .top-line {
        position: absolute;
        top: var(--side-padding);
        // left: var(--side-padding);
        left: calc(var(--side-padding) + 2px);
        width: calc(100% - (var(--side-padding) * 2) - 2px);
        // width: calc(100% - (var(--side-padding) * 2));
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:after {
        content: '';
        position: absolute;
        top: var(--side-padding);
        left: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 165px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:before {
        content: '';
        position: absolute;
        top: calc(var(--side-padding) + 2px);
        right: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 3px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    svg {
        position: absolute;
        bottom: var(--side-padding);
        width: 880px;
        left: var(--side-padding);
        bottom: calc(var(--side-padding));
        height: 166px;
    }
    svg path {
        fill: none;
        stroke: rgba(255, 255, 255, 0.5);
        stroke-width: 2;
    }
    .mobile {
        width: 283px;
        height: 93px;
    }
    @include to(1719px) {
        .three-rows-wave {
            display: none;
        }
    }
    @include from(1720px) {
        .three-rows-wave {
            width: 1161px;
            height: 218px;
        }
        .bottom-line {
            width: calc(100% - 1221px);
        }
        svg:not(.three-rows-wave) {
            display: none;
        }
        &:after {
            height: calc(100% - (var(--side-padding) * 2) - 214px);
        }
    }
    @include to(950px) {
        svg {
            width: 650px;
            height: 124px;
        }
        svg.desktop path {
            stroke-width: 3.5;
            transform: translateY(1px);
        }
        .bottom-line {
            width: calc(100% - 694px);
        }
        &:after {
            height: calc(100% - (var(--side-padding) * 2) - 119px);
        }
    }
    @include from(768px) {
        .mobile {
            display: none;
        }
    }
    @include to(767px) {
        .desktop {
            display: none;
        }
        svg {
            height: 123.2px;
        }
        .bottom-line {
            width: calc(100% - 694px);
        }
    }
    @include to(480px) {
        &:after {
            height: calc(100% - (var(--side-padding) * 2) - 93px);
            width: 2px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .bottom-line {
            width: calc(100% - 311px);
        }
    }
}

.title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1em;
    color: var(--white);
    text-transform: uppercase;
    &.blue {
        color: var(--blue);
    }
    & .blue.with-waves:after {
        content: url("data:image/svg+xml,%3Csvg width='87' height='36' viewBox='0 0 87 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87 20C43.5 20 43.5 3 -7.7879e-07 3' stroke='%230085FF' stroke-width='6'/%3E%3Cpath d='M87 33C43.5 33 43.5 15 -6.91367e-07 15' stroke='%230085FF' stroke-width='6'/%3E%3C/svg%3E%0A");
        margin-left: 30px;
        width: 87px;
        height: 30px;
    }
    & .blue {
        color: var(--blue);
        display: flex;
        justify-content: flex-start;
    }
    & .gray {
        color: var(--gray);
    }
    @include from(1720px) {
        font-size: 64px;
    }
    @include to(768px) {
        font-size: 36px;
    }
    @include to(480px) {
        font-size: 24px;
    }
}

.page-title {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    @include to(575px) {
        padding-top: 20px;
        padding-bottom: 0;
    }
}

.arrows {
    align-self: center;
    margin-top: auto;
    width: calc(100% - var(--side-padding) - var(--side-padding));
    display: flex;
    justify-content: space-between;
    &.blue .arrow-prev,
    &.blue .arrow-next {
        border: 2px solid var(--blue);
    }
    &.blue path {
        stroke: var(--blue) !important;
    }
    &.blue rect {
        fill: var(--blue);
    }
    .arrow-prev,
    .arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-right-color: transparent;
    }
    .arrow-prev:hover svg,
    .arrow-next:hover svg {
        transform-origin: center;
        transform: scale(1.5);
    }
    svg {
        cursor: pointer;
        transition: .5s;
    }
    svg path,
    svg rect {
        cursor: pointer;
    }
    .arrow-prev {
        transform: rotate(-180deg);
    }
    .arrow-next {}
    @include to(768px) {
        margin-bottom: 0;
    }
    @include to(480px) {
        .arrow-prev,
        .arrow-next {
            width: 40px;
            height: 40px;
        }
        .arrow-prev>svg,
        .arrow-next>svg {
            width: 14px;
            height: 11px;
        }
    }
}

.slider-counter {
    width: 50px;
    color: var(--white);
    font-family: $default-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.blue {
        color: var(--blue);
    }
    &.blue rect {
        fill: var(--blue) !important;
    }
    .delimiter {
        margin: 0 auto;
    }
    @include from(1720px) {
        width: 70px;
        font-size: 24px;
    }
}

.link {
    font-family: $default-font;
    font-style: normal;
    // font-weight: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
    padding-right: 46px;
    display: flex;
    align-items: flex-end;
    &.blue {
        color: var(--blue);
    }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     right: 0;
    //     width: 36px;
    //     height: 2px;
    //     background-color: var(--white);
    //     bottom: calc(1em - 8px);
    //     transform-origin: left;
    //     transition: .5s;
    // }
    &::after {
        // content: url("data:image/svg+xml,%3Csvg width='36' height='2' viewBox='0 0 36 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='36' y2='1' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
        content: url("data:image/svg+xml,%3Csvg width='36' height='2' viewBox='0 0 36 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='36' y2='1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        margin-left: 10px;
        position: relative;
        transition: .5s;
        top: -5px;
        transform-origin: left;
    }
    &:hover::after {
        transform: scaleX(1.5);
    }
    &.blue::after {
        content: url("data:image/svg+xml,%3Csvg width='36' height='2' viewBox='0 0 36 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='36' y2='1' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
        // content: url("data:image/svg+xml,%3Csvg width='36' height='2' viewBox='0 0 36 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='36' y2='1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        margin-left: 10px;
        position: relative;
        transition: .5s;
        // transition-delay: 1s;
        top: -5px;
    }
    // &.blue::after {
    //     background-color: var(--blue);
    // }
    @include from(1720px) {
        font-size: 24px;
        line-height: 30px;
    }
    @include from(769px) {
        &.mobile {
            display: none;
        }
    }
    @include to(768px) {
        &.desktop {
            display: none;
        }
        font-size: 16px;
    }
    @include to(480px) {
        padding-right: 30px;
        &::after {
            width: 20px;
        }
    }
    @media screen and (min-height:600px) and (orientation:portrait) {
        font-size: 20px;
    }
}

.subtitle {
    font-family: $default-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--white);
    &.gray {
        color: var(--gray);
    }
    &.color-standart {
        color: var(--gray-light);
        font-weight: 500;
    }
    &.no-transform {
        text-transform: none;
    }
    &.variable-line-height {
        line-height: 1.67em;
    }
    @include from(1720px) {
        font-size: 24px;
        &.variable-line-height {
            line-height: 1.5em;
        }
    }
    @include to(768px) {
        font-size: 16px;
    }
    @include to(575px) {
        &.variable-line-height {
            line-height: 1.57em;
        }
    }
}

.text {
    font-family: $default-font;
    font-style: normal;
    // font-weight: normal;
    // font-weight: 500;
    font-size: 14px;
    line-height: 1.6em;
    color: var(--white);
    &.gray {
        color: #728596;
    }
    &.gray>p {
        color: #728596;
    }
    &>p {
        color: var(--white);
    }
    &>p:nth-child(n+2) {
        margin-top: 1.6em;
    }
    @include from(1720px) {
        font-size: 18px;
    }
    @include to(575px) {
        font-size: 14px;
    }
    @media screen and (min-height:500px) and (orientation:portrait) {
        // font-size: 16px;
    }
}

.decor-pin-icon {
    width: 54px;
    height: 67px;
}

section.forms {
    padding-top: 53px;
    padding-bottom: 77px;
    @include shift-padding(1);
    @include to(1250px) {
        padding-left: 0;
        @include shift-padding(0.2);
    }
    @include to(1024px) {
        padding: var(--side-padding);
    }
    @include from-to(575px,
    768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.tabs {
    .tab-head {
        display: flex;
        justify-content: space-between;
    }
    .tab-head-item.active {
        color: var(--blue);
    }
    .tab-head-item {
        min-height: 36px;
        display: flex;
        align-items: center;
        font-family: $default-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: var(--gray);
        text-transform: uppercase;
    }
    .tab-head-item:before {
        transition: .5s;
        opacity: 0;
        margin-right: 10px;
        content: url("data:image/svg+xml,%3Csvg width='9' height='36' viewBox='0 0 9 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C8 18 0.999999 18 0.999998 36' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .tab-head-item.active:after,
    .tab-head-item.active:before {
        opacity: 1;
    }
    .tab-head-item:after {
        transition: .5s;
        opacity: 0;
        margin-left: 10px;
        content: url("data:image/svg+xml,%3Csvg width='9' height='36' viewBox='0 0 9 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C8 18 0.999999 18 0.999998 36' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .tab {
        display: none;
    }
    .tab.active {
        display: block;
    }
    @include from(769px) {
        .tab-head-item:hover {
            color: var(--blue);
        }
        .tab-head-item:hover:after,
        .tab-head-item:hover:before {
            opacity: 1;
        }
    }
    @include from(1720px) {
        .tab-head-item {
            font-size: 24px;
            line-height: 30px;
            @include size(4);
            display: flex;
            justify-content: space-between;
        }
    }
    @include to(768px) {
        .tab-head-item {
            text-align: center;
        }
    }
    @include to(480px) {
        padding: 0;
        .tab-head {
            margin-bottom: 25px;
            flex-direction: column;
            align-items: center;
        }
        .tab-head-item {
            font-size: 14px;
        }
    }
}

.decor-icon {
    width: 40px;
    height: 40px;
    @include to(480px) {
        width: 26px;
        height: 26px;
    }
}

.input-group {
    transition: .5s;
}

.input-group.unfilled {
    border-color: red;
}

.unvisible-block {
    display: none;
}

.breadcrumbs-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    --underline-gap: 4px;
    // padding-bottom: var(--underline-gap);
    box-sizing: content-box;
    position: relative;
    &__item {
        color: var(--yellow);
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        margin-bottom: var(--underline-gap);
    }
    &__item span {
        position: relative;
    }
    &__item span:before {
        transition: .7s;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        left: 0;
        background: transparent;
        transform: skewX(180deg);
        content: '';
    }
    &__item--white span:before {
        background: var(--white);
    }
    &__item-current {
        color: #E0E0E0;
    }
    &__item--white {
        color: var(--white);
    }
    &__item[href]:not(&__item-current) span {
        // text-decoration: underline;
    }
    &__item[href]:not(&__item-current):after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27934 1.47523L8.27932 1.47524L8.28189 1.47976C8.42102 1.72445 8.5 2.00899 8.5 2.32224C8.5 2.57275 8.44887 2.80499 8.35505 3.01821L8.35422 3.02012C8.26316 3.22944 8.12466 3.42458 7.95178 3.59277L7.94209 3.60037L7.60295 3.86662L7.58194 3.88311L7.56825 3.89645L7.17505 4.21797L7.17504 4.21795L7.17112 4.22122L7.13569 4.2508L7.12099 4.26307L7.11475 4.26915L6.88087 4.45595L6.88086 4.45593L6.87749 4.45867L6.26647 4.95546L6.26501 4.95665L5.76535 5.35975L5.76483 5.36018L4.50096 6.38265L4.26414 6.18963L4.26414 6.18963L4.26256 6.18836L1.85352 4.24115L1.85312 4.24083L1.37264 3.85165L1.37265 3.85164L1.36989 3.84944L1.06112 3.60292L1.05818 3.60058C1.05298 3.5952 1.04734 3.58935 1.04107 3.58283L1.03933 3.58103C1.02134 3.56234 0.997577 3.53764 0.971483 3.51223L0.971476 3.51222L0.966421 3.5073L0.966414 3.50729L0.954125 3.49526L0.952137 3.49326C0.948105 3.48806 0.944498 3.48355 0.941487 3.47985C0.936851 3.47414 0.932339 3.46877 0.928962 3.46479L0.915073 3.4445V3.44313L0.821099 3.31236C0.821131 3.31241 0.821111 3.31238 0.821038 3.31227C0.820527 3.31154 0.817421 3.30711 0.81158 3.29835C0.805383 3.28906 0.797313 3.27672 0.787865 3.26185C0.768886 3.23199 0.745563 3.19387 0.721582 3.15182C0.669578 3.06065 0.62986 2.97763 0.613189 2.92517L0.610723 2.91741L0.608006 2.90974C0.564271 2.7862 0.535113 2.67882 0.520979 2.57213L0.518653 2.55457L0.517603 2.54946L0.517527 2.54871C0.51695 2.54308 0.515748 2.53133 0.514124 2.51868C0.513041 2.51024 0.511614 2.50008 0.509692 2.48862C0.503404 2.43557 0.5 2.37723 0.5 2.31731C0.5 2.21539 0.511271 2.1089 0.531696 2.00147L0.53178 2.00149L0.533332 1.99241C0.535136 1.98187 0.536996 1.97186 0.539598 1.95792L0.539795 1.95686C0.541443 1.94804 0.543405 1.93753 0.545486 1.9259C0.582201 1.77504 0.632419 1.63567 0.696806 1.51218L0.762215 1.3975L0.769471 1.38683L0.770616 1.38515C0.776284 1.37688 0.785855 1.36291 0.796528 1.3462C0.898971 1.19988 1.01268 1.07184 1.14007 0.965232C1.15883 0.95031 1.17496 0.936411 1.18341 0.929133C1.18429 0.92838 1.18508 0.927698 1.18578 0.927093L1.19144 0.922274L1.19269 0.921358L1.19938 0.916117C1.52849 0.658097 1.9519 0.5 2.41957 0.5C2.82415 0.5 3.19677 0.617039 3.50413 0.817203C3.52307 0.83079 3.54337 0.846034 3.56912 0.865415L3.57132 0.867072C3.59125 0.882072 3.61478 0.89979 3.63965 0.917867L4.16626 1.38991L4.58442 1.76473L4.9084 1.30606C5.24087 0.835356 5.8911 0.5 6.58043 0.5C7.32428 0.5 7.96215 0.903663 8.27934 1.47523ZM7.90705 3.63301C7.90682 3.63323 7.90702 3.63303 7.9075 3.63256L7.90705 3.63301ZM1.08851 3.62874L1.0878 3.62807C1.08804 3.6283 1.08828 3.62852 1.08851 3.62874ZM1.19363 0.920409C1.1937 0.920347 1.1937 0.920352 1.19362 0.920419L1.19363 0.920409ZM1.09186 3.63195C1.09279 3.63285 1.09327 3.63331 1.09296 3.63302L1.09249 3.63256L1.09186 3.63195Z' stroke='%23BCBCBC' stroke-opacity='0.4'/%3E%3C/svg%3E%0A");
        width: 9px;
        height: 7px;
        display: inline-block;
        background-size: contain;
        margin: 0 10px;
        text-decoration: none;
    }
    @include from(1720px) {
        margin-top: 30px;
        &__item {
            font-size: 18px;
        }
    }
    @include from(769px) {
        &__item:hover span:before {
            transform: skewX(0deg);
            background-color: var(--yellow);
        }
    }
    @include to(768px) {
        margin-top: 20px;
        margin-top: 0;
    }
    @include to(575px) {
        margin-top: 20px;
        .breadcrumbs-block__item {
            font-size: 14px;
            line-height: 22px;
        }
        &__item {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    color: var(--white);
    max-width: 170px;
    font-size: 18px;
    font-weight: 500;
    &__current {
        position: relative;
        cursor: pointer;
        outline: none;
        border: 1px solid var(--blue);
        color: var(--white);
        background-color: var(--blue);
        // border-radius: 25px;
        min-height: 1.5em;
        z-index: 3;
        transition: .5s;
        &:focus {
            background-color: var(--blue);
            border-color: transparent;
            &+.select-box__list {
                opacity: 1;
                padding-top: 20px;
                margin-top: -15px;
                z-index: 2;
                position: relative;
                background-color: var(--blue);
                // We have to set "animation-name: none;" to make the list visible (read below how it works)
                animation-name: none;
                transition: .5s;
                .select-box__option {
                    cursor: pointer;
                }
            }
            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
                fill: var(--white);
                opacity: 1;
            }
        }
    }
    .select-box__list {
        box-shadow: 0px 30px 50px rgba(0, 57, 90, 0.15);
    }
    .select-box__option {
        transition: .5s;
    }
    .select-box__option:hover {
        color: var(--red);
    }
    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 12px;
        transition: 0.2s ease;
        width: 18px;
        height: 9px;
        stroke: #fff;
        fill: none;
        stroke-width: 2px;
    }
    &__value {
        display: flex;
    }
    &__input {
        display: none;
        &:checked+.select-box__input-text {
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: flex-start;
        }
    }
    &__input-text {
        display: none;
        width: 100%;
        margin: 0;
        // padding: 15px;
        height: 30px;
        text-align: center;
        margin-right: 12px;
    }
    &__list {
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        opacity: 0;
        // We need to use animation with delay.
        // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
        // This delay will not be noticed because we set "opacity" to "0".
        // We also use "animation-fill-mode: forwards" to make the list stay hidden.
        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }
    &__option {
        display: block;
        // padding: 15px;
        height: 30px;
        text-align: center;
        background-color: var(--blue);
        &:hover,
        &:focus {
            color: #546c84;
            background-color: var(--blue);
            color: var(--white);
        }
    }
    @include from(1680px) {
        max-width: 240px;
        height: 44px;
        font-size: 25px;
        &__current {
            height: 100%;
        }
        &__input-text {
            height: 40px;
        }
        &__option {
            height: 40px;
            margin-top: -1px;
        }
        &__list {
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }
    &:hover {
        .select-box__current {
            background-color: var(--blue);
            border-color: transparent;
            color: var(--white);
        }
        .select-box__current+.select-box__list {
            opacity: 1;
            padding-top: 20px;
            margin-top: -20px;
            z-index: 2;
            position: relative;
            background-color: var(--white);
            // We have to set "animation-name: none;" to make the list visible (read below how it works)
            animation-name: none;
            transition: .5s;
            .select-box__option {
                cursor: pointer;
            }
        }
        .select-box__icon {
            transform: translateY(-50%) rotate(180deg);
            fill: transparent;
            opacity: 1;
        }
    }
    @include to(575px) {
        max-width: none;
        &__option,
        &__input-text {
            text-align: left;
            padding-left: 15px;
        }
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.square-metres {
    display: inline-block;
    margin-top: -0.3em;
    // margin-top: -0.1em;
}

.button-std {
    --icon-width: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    // border: 1px solid rgba(60, 60, 59, 0.2);
    // border-color: transparent;
    padding-left: var(--icon-width);
    height: var(--icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 176px;
    cursor: pointer;
    color: var(--black);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    &>span {
        padding-left: 17px;
        padding-right: 17px;
        white-space: nowrap;
    }
    &.text-white {
        color: var(--white);
    }
    &.transparent {
        background-color: transparent;
    }
    &.white {
        background-color: var(--white);
    }
    &.green {
        background-color: var(--green);
    }
    &.blue {
        background-color: var(--blue);
    }
    &.violet1 {
        background-color: var(--violet1);
    }
    &.yellow {
        background-color: var(--yellow);
    }
    &.yellow-light-icon &__icon {
        background-color: var(--yellow-light);
    }
    &.violet2-icon &__icon {
        background-color: var(--violet2);
    }
    &.green-icon &__icon {
        background-color: var(--green);
    }
    &.yellow-icon &__icon {
        background-color: var(--yellow);
    }
    &.green-light-icon &__icon {
        background-color: #C5D53F;
    }
    &.blue-light-icon &__icon {
        background-color: var(--blue-light);
    }
    &__icon {
        position: absolute;
        width: var(--icon-width);
        height: var(--icon-width);
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 33px 0px 33px 33px;
        transition: .7s cubic-bezier(0, 0.85, 0.46, 0.95);
    }
    &.uppercased {
        text-transform: uppercase;
    }
    &.right-side-icon {
        padding-left: 0;
        padding-right: var(--icon-width);
    }
    &.right-side-icon &__icon {
        left: auto;
        right: 0;
        border-radius: 33px 0px 33px 33px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .icon--close-symbol {
        width: 18px;
        height: 18px;
    }
    .icon--arrow {
        width: 16px;
        height: 10px;
    }
    @include from(769px) {
        &:hover &__icon {
            width: 100%;
        }
    }
    @include to(575px) {
        // padding-left: 0;
        &__icon {
            // display: none;
        }
    }
}

.fixed-background-heart {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 52;
    top: 0;
    width: auto;
    height: 100vh;
    pointer-events: none;
    @include to(768px) {
        height: auto;
        width: calc(200vw - (100vw / 12 * 2));
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        .heart-horizontal {
            display: none;
        }
    }
    @include from-to(576px,
    768px) {
        display: none;
        .heart-vertical.right,
        .heart-vertical.left,
        .heart-horizontal.top,
        .heart-horizontal.bottom {
            display: none;
        }
    }
    @include to(575px) {
        height: auto;
        width: 200vw;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        .heart-horizontal {
            display: none;
        }
    }
}

.fixed-background-heart-tablet {
    @include from(769px) {
        display: none;
    }
    @include to(575px) {
        display: none;
    }
    @include from-to(576px,
    768px) {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 52;
        top: 0;
        width: auto;
        height: 100vh;
        pointer-events: none;
    }
}

.fixed-background-heart-mobile {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 52;
    top: 0;
    width: auto;
    height: 100vh;
    pointer-events: none;
    line {
        // display: none;
    }
    @include from(576px) {
        display: none;
    }
}

.icon--scroll-marker {
    fill: transparent;
    width: 13.62px;
    height: 26px;
}

.unvisible-blocks {
    display: none;
}

.text-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    @include from-to(576px,
    768px) {
        font-size: 18px;
        line-height: 29px;
    }
    @include to(575px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

.slider-arrows {
    display: flex;
    pointer-events: none;
    .next {
        transform: rotate(90deg);
    }
    .prev {
        transform: rotate(-90deg);
    }
    .arrow {
        width: 30px;
        height: 48px;
        cursor: pointer;
        transition: .7s;
        pointer-events: auto;
        fill: var(--white);
    }
    @include from(769px) {
        .arrow:hover {
            fill: var(--violet2);
        }
    }
    @include to(575px) {
        .arrow {
            width: 20px;
            height: 32px;
        }
    }
}


/*На главной и веб камере*/

.heart-mask-video-block-wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(0deg, rgba(131, 82, 155, 0.5), rgba(131, 82, 155, 0.5)), /*url(../images/02.jpg) center no-repeat*/
    ;
    @include size(6);
    position: relative;
    display: inline-block;
    background-size: cover;
    .heart-mask-video-block {
        padding-top: 79.9%;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        object-fit: cover;
    }
    .video-play-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        display: flex;
        flex-direction: column;
        max-width: 10ch;
        align-items: center;
        text-align: center;
        z-index: 10;
        cursor: pointer;
        transition: .7s;
    }
    @include from(769px) {
        .video-play-button:hover svg,
        .video-play-button:hover {
            stroke: var(--blue) !important;
            color: var(--blue);
        }
    }
    .icon--video-play {
        fill: transparent;
        width: 43px;
        height: 43px;
        margin-bottom: 10px;
        stroke: var(--white);
    }
    .heart {
        position: absolute;
        width: 100.5%;
        height: 100.5%;
        top: -0.25%;
        left: -0.25%;
        z-index: 3;
        pointer-events: none;
    }
    .mask-pattern {
        z-index: 3;
    }
    .heart-mask-bottom-pattern {
        width: 40%;
        position: absolute;
        left: 10%;
        bottom: 0;
        transform: translate(0, 50%);
    }
    .heart-mask-top-pattern {
        width: 31%;
        position: absolute;
        right: 10%;
        top: 0;
        transform: translate(0, -50%);
    }
}


/*На главной и веб камере END*/


/*Для страниц без тайтла*/

#no-title {
    .breadcrumbs-block {
        margin-top: 40px;
    }
}

.front-block {
    --breadcrumbs-marginT: 30px;
    --breadcrumbs-height: 22px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: calc(100% + var(--side-fields) * 2);
    margin-top: calc(var(--breadcrumbs-marginT) + var(--breadcrumbs-height) + var(--header-height) - ((var(--breadcrumbs-marginT) + var(--breadcrumbs-height) + var(--header-height)) * 2));
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top left;
        z-index: 0;
        // opacity: 0;
    }
    canvas {
        position: absolute;
        background-color: var(--white);
        left: 0;
        top: 0;
        pointer-events: none;
    }
    &__text svg {}
}

.fron-block__text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--header-height) + 37px) 50px 50px 50px;
    @include size(4.5);
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    margin-left: auto;
    @include from(1680px) {
        padding: calc(var(--header-height) + 37px) 73px 50px 73px;
    }
    @include to(1024px) {
        padding: calc(var(--header-height) + 37px) 25px 50px 25px;
        @include size(5.5);
    }
    @include to(575px) {
        padding: calc(var(--header-height) + 37px) 14px 50px 14px;
        @include size(6.5);
    }
}

.fron-block__text.yellow {
    background: rgba(255, 218, 5, 0.8);
}

.fron-block__text.blue {
    background: rgba(23, 152, 213, 0.8);
}

.fron-block__text.green {
    background: rgba(175, 190, 45, 0.8);
}

.front-block__top-pattern {
    width: 100%;
    margin-bottom: 12px;
}

.front-block__bottom-pattern {
    margin-top: 12px;
    width: 100%;
}

.front-block__slogan {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    @include to(575px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
}

.front-block__slogan.violet {
    color: var(--violet1);
}

.front-block__slogan.yellow {
    color: var(--yellow);
}