#values {
    --breadcrumbs-marginT: 30px;
    --breadcrumbs-height: 22px;
    .breadcrumbs-block {
        margin-top: var(--breadcrumbs-marginT);
        height: var(--breadcrumbs-height);
        position: relative;
        z-index: 2;
    }
    li.text-semi-large:before {
        content: '•';
        margin-right: 15px;
    }
}

.values-block2 {
    height: 100vh;
    width: calc(100% + var(--side-fields) * 2);
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    position: relative;
    display: flex;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    &__text,
    &__text-on-gradient {
        position: relative;
        z-index: 1;
    }
    &__text {
        height: 100%;
        @include size(4);
        padding-top: var(--breadcrumbs-height);
        padding-bottom: var(--breadcrumbs-height);
        padding-left: var(--side-fields);
        @include shift-padding-right(1);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-right: auto;
    }
    &__text-on-gradient {
        width: calc(66.66667% + 20px);
        height: 40vh;
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &__text-on-gradient .text-large {
        margin-bottom: 10px;
    }
    &__text-on-gradient>ul {
        margin-right: 8%;
        margin-bottom: 50px;
    }
    &__text .text-large {
        margin-top: 42px;
    }
    &__text.brown {
        background-color: rgba(174, 127, 71, 0.9);
    }
    @include to(1024px) {
        &__text {
            @include size(5);
            @include shift-padding(0.5);
            padding-right: var(--side-fields);
        }
    }
    @include to(768px) {
        &__text {
            @include size(5.5);
            padding-left: var(--side-fields);
        }
        &__text-on-gradient>ul {
            margin-right: auto;
            margin-bottom: 40px;
            margin-left: auto;
        }
    }
    @include to(575px) {
        &__text {
            width: 50%;
        }
        &__text .text-large {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
        &__text-pattern {
            width: 100%;
            height: auto;
        }
        &__text-on-gradient {
            width: 50%;
            padding-left: 10px;
            padding-right: var(--side-fields);
        }
        &__text-on-gradient>ul {
            margin-bottom: 10px;
        }
    }
}

.text-semi-large {
    @include fontSizeLhToEm(18, 29);
    font-weight: 500;
    @include to(575px) {
        @include fontSizeLhToEm(14, 20);
        text-indent: -1.45em;
        padding-left: 1.45em;
    }
}

.values-block3 {
    width: calc(100% + var(--side-fields) * 2);
    height: 100vh;
    margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    font-size: 0;
    &__half {
        position: relative;
        width: 50%;
        height: 100%;
        display: inline-flex;
        align-items: flex-end;
    }
    &__half>img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }
    &__half>ul {
        position: relative;
        z-index: 2;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-top: 115px;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    }
    @include from-to(576px, 768px) {
        &__half {
            width: 100%;
            height: 50vh;
        }
    }
    @include to(575px) {
        &__half {
            width: 100%;
            height: 50vh;
        }
        &__half>ul {
            padding: var(--side-fields);
            padding-bottom: 20px;
        }
    }
}