#web-camera {
    .page__content {
        // min-height: calc(100vh - var(--header-height));
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

.webcam-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    // min-height: calc(100vh - var(--header-height) - 28px - 96px);
    .heart-mask-video-block-wrapper {
        margin-top: -0.5em;
        margin: 0 auto;
        margin-bottom: 170px;
    }
    .patterns-wrapper {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }
    @include from(1720px) {
        .heart-mask-video-block-wrapper {
            margin-bottom: 50px;
        }
    }
    @media screen and (min-width:769px) and (max-height:700px) {
        // height: calc(100vh - var(--header-height) - 122px);
        .heart-mask-video-block-wrapper {
            margin-bottom: 30px;
            width: 38%
        }
    }
    @include to(768px) {
        .patterns-wrapper {
            position: static;
        }
        .heart-mask-video-block-wrapper {
            margin-bottom: 0;
            @include size(8.5);
        }
    }
    @include from-to(576px, 768px) {
        .heart-mask-video-block-wrapper {
            margin-top: 125px;
        }
    }
    @include to(575px) {
        .patterns-wrapper {
            margin-top: -30px;
        }
        .heart-mask-video-block-wrapper {
            width: 100%;
            margin-top: 3.4vh;
        }
    }
}

.web-camera-left-pattern {
    width: 335px;
    height: 320px;
    @include from(1720px) {
        height: auto;
        width: 20%;
    }
    @media screen and (min-width: 769px) and (max-height: 700px) {
        width: 15%;
        height: auto;
    }
    @include to(768px) {
        @include size(5);
        height: auto;
    }
    @include to(575px) {
        width: calc(50% - 5px);
    }
}

.web-camera-right-pattern {
    width: 340px;
    height: 356px;
    @include from(1720px) {
        height: auto;
        width: 20%;
    }
    @media screen and (min-width: 769px) and (max-height: 700px) {
        width: 15%;
        height: auto;
    }
    @include to(768px) {
        @include size(5);
        height: auto;
    }
    @include to(575px) {
        width: calc(50% - 5px);
    }
}